@import '~scss/variables';
@import '~scss/hubvariables';
@import '~scss/mixins';

.overviewsupporterstatus {

	&--disclaimer {
		font-size: 13px;
		> * {
			padding-top: 4px;
		}
	}
}

.overviewsupporterstatus-offer {
	padding: 3px 0;

	&--title {
		line-height: 26px;
		font-size: $font-size;
	}

	&--info {
		line-height: 20px;
		font-size: $font-size-small;
	}

	&--unit {
		color: $color-muted;
	}

	&--badge.recurrence-once {
		.badge--faicon {
			background: $color-base-lightest;
			color: $color-base;
		}
	}
	&--badge.recurrence-month {
		.badge--faicon {
			background: $color-action;
			color: $color-base-light;
		}
	}
	&--badge.recurrence-quarter {
		.badge--faicon {
			background: $color-accent;
			color: $color-base-light;
		}
	}

	&--badge.btn.badge.recurrence-once:not(:disabled):hover {
		.badge--faicon {
			color: $color-base-100;
		}
	}
	&--badge.btn.badge.recurrence-month:not(:disabled):hover {
		.badge--faicon {
			background: darken($color-action, 8%);
			color: $color-base;
		}
	}
	&--badge.btn.badge.recurrence-quarter:not(:disabled):hover {
		.badge--faicon {
			background: darken($color-accent, 8%);
			color: $color-base;
		}
	}
}

.overviewsupporterstatus-offercontent {
	padding-top: 6px;

	// &--paypal.btn {
	// 	@include btn-style($color-paypal, $color-paypal-hover, $color-paypal-active, $white, $white);
	// }
}

.overviewsupporterstatus-nosubscription {
	&--until {
		color: $color-contrast;
		font-size: $font-size-small;
	}
}

