@import '~scss/variables';
@import '~scss/hubvariables';
@import '~scss/mixins';

.overviewsupporterstatus {

	&--disclaimer {
		font-size: 13px;
		> * {
			padding-top: 4px;
		}
	}
}

.overviewsupporterstatus-offer {
	padding: 3px 0;

	&--title {
		line-height: 26px;
		font-size: $font-size;
	}

	&--info {
		line-height: 20px;
		font-size: $font-size-small;
	}

	&--unit {
		color: $theme-content-default-fg;
	}

	&--badge.recurrence-once {
		.badge--faicon {
			background: $theme-surface-600-bg;
			color: $theme-color-base-100;
		}
	}
	&--badge.recurrence-month {
		.badge--faicon {
			background: $theme-status-info-bg;
			color: $theme-control-primary-fg;
		}
	}
	&--badge.recurrence-quarter {
		.badge--faicon {
			background: $theme-status-warning-bg;
			color: $theme-control-primary-fg;
		}
	}

	&--badge.btn.badge.recurrence-once:not(:disabled):hover {
		.badge--faicon {
			color: $theme-surface-100-bg;
		}
	}
	&--badge.btn.badge.recurrence-month:not(:disabled):hover {
		.badge--faicon {
			background: $theme-control-primary-bg-hover;
			color: $theme-surface-200-bg;
		}
	}
	&--badge.btn.badge.recurrence-quarter:not(:disabled):hover {
		.badge--faicon {
			background: darken($color-accent-300, 8%);
			color: $theme-surface-200-bg;
		}
	}
}

.overviewsupporterstatus-offercontent {
	padding-top: 6px;
}

.overviewsupporterstatus-nosubscription {
	&--until {
		color: $theme-content-strong-fg;
		font-size: $font-size-small;
	}
}
