<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="description" content="<%= APP_DESCRIPTION %>">
	<link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/fonts/fonts.css" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<script type="text/javascript">
		window.appProps = {
			apiHostPath: <%= JSON.stringify(API_HOST_PATH) %>,
			apiWebresourcePath: <%= JSON.stringify(API_WEBRESOURCE_PATH) %>,
			apiFilePath: <%= JSON.stringify(API_FILE_PATH) %>,
		};
	</script>
	<title>Mucklet</title>
</head>
<body>
	<script type="text/javascript">
		const onScroll = () => {
			document.body.style.setProperty(
				"--scroll",
				window.pageYOffset,
			);
		};
		window.addEventListener(
			"scroll",
			onScroll,
			false
		);
		onScroll();
	</script>
	<div class="start">
		<div class="start--top">
			<div class="start--top-bg">
				<div class="start--top-overlay1">
					<div class="start--top-overlay2">
						<div class="start--top-overlay3">
						</div>
					</div>
				</div>
			</div>
			<div class="start--top-hills3"></div>
			<div class="start--top-hills2"></div>
			<div class="start--top-hills1"></div>
			<div class="start--topcontainer">
				<div class="start--topbar">
					<div class="start--logo">
						<img src="/mucklet-logo.svg" class="start--logo-img">
						<span class="start--logo-text">Mucklet</span>
					</div>
					<div class="start--topbartools">
						<button class="start--helpbtn start--headerbtn iconbtn"><i class="fa fa-question"></i></button>
						<button class="start--joinbtn start--headerbtn btn">Register</button>
						<button class="start--loginbtn start--headerbtn btn">Sign in<i class="fa fa-sign-in"></i></button>
					</div>
				</div>
				<div class="start--subheading">Discover</div>
				<h1 class="start--heading">a world of role play</h1>
			</div>
		</div>
		<div class="start--main">
			<div class="start--maincontainer">
				<div class="start--search">
					<h2>Explore realms</h2>
					<div class="start--searchbar">
						<button class="start--searchbtn btn"><i class="fa fa-search"></i></button>
						<input class="start--searchinput" placeholder="Enter a name or genre">
					</div>
				</div>

				<div id="start-realms"></div>

				<!-- <div class="start--realms">
					<div class="start--realm">
						<div class="start--realm-cont" >
							<img src="/img/realm1.png" class="start--realm-img" />
							<div class="start--realm-header">
								<img src="/img/realm1_icon.png" class="start--realm-icon" />
								<div class="start--realm-title-cont">
									<span class="start--realm-title">The world of Aurellion</span>
									<div class="start--realm-counters-top">
										<div class="start--realm-counter"><span class="dot highlight"></span>198 Awake</div>
										<div class="start--realm-counter"><span class="dot"></span>8 015 Characters</div>
									</div>
								</div>
							</div>
							<div class="start--realm-tags taglist">
								<div class="taglist--item"><div class="taglist--tag like hasdesc"><span>fantasy</span></div></div>
								<div class="taglist--item"><div class="taglist--tag like hasdesc"><span>world building</span></div></div>
								<div class="taglist--item"><div class="taglist--tag like hasdesc"><span>sfw</span></div></div>
							</div>
							<div class="start--realm-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
							<div class="start--realm-footer">
								<div class="start--realm-counters">
									<div class="start--realm-counter"><span class="dot highlight"></span>198 Awake</div>
									<div class="start--realm-counter"><span class="dot"></span>8 015 Characters</div>
								</div>
								<button class="start--realm-signin btn primary">Enter<i class="fa fa-sign-in"></i></button>
							</div>
						</div>
						<div class="start--realm-more">
							<div class="start--realm-caret">
								<i class="fa fa-angle-down"></i>
							</div>
						</div>
					</div>
					<div class="start--realm active">
						<div class="start--realm-cont">
							<img src="/img/realm2.png" class="start--realm-img" />
							<div class="start--realm-header">
								<img src="/img/realm2_icon.png" class="start--realm-icon" />
								<div class="start--realm-title-cont">
									<span class="start--realm-title">Wolfery</span>
									<div class="start--realm-counters-top">
										<div class="start--realm-counter"><span class="dot highlight"></span>345 Awake</div>
										<div class="start--realm-counter"><span class="dot"></span>10 323 Characters</div>
									</div>
								</div>
							</div>
							<div class="start--realm-tags taglist">
								<div class="taglist--item"><div class="taglist--tag like hasdesc"><span>furry</span></div></div>
								<div class="taglist--item"><div class="taglist--tag like hasdesc"><span>world building</span></div></div>
								<div class="taglist--item"><div class="taglist--tag like hasdesc"><span>social</span></div></div>
								<div class="taglist--item"><div class="taglist--tag warn hasdesc"><span>nsfw</span></div></div>
							</div>
							<div class="start--realm-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
							<div class="start--realm-footer">
								<div class="start--realm-counters">
									<div class="start--realm-counter"><span class="dot highlight"></span>345 Awake</div>
									<div class="start--realm-counter"><span class="dot"></span>10 323 Characters</div>
								</div>
								<button class="start--realm-signin btn primary">Enter<i class="fa fa-sign-in"></i></button>
							</div>
						</div>
						<div class="start--realm-more">
							<div class="start--realm-caret">
								<i class="fa fa-angle-down"></i>
							</div>
						</div>
					</div>
					<div class="start--realm">
						<div class="start--realm-cont">
							<img src="/img/realm3.png" class="start--realm-img" />
							<div class="start--realm-header">
								<img src="/img/realm3_icon.png" class="start--realm-icon" />
								<div class="start--realm-title-cont">
									<span class="start--realm-title">Cyber City</span>
									<div class="start--realm-counters-top">
										<div class="start--realm-counter"><span class="dot highlight"></span>89 Awake</div>
										<div class="start--realm-counter"><span class="dot"></span>3 929 Characters</div>
									</div>
								</div>
							</div>
							<div class="start--realm-tags taglist">
								<div class="taglist--item"><div class="taglist--tag like hasdesc"><span>cyber punk</span></div></div>
								<div class="taglist--item"><div class="taglist--tag like hasdesc"><span>goth</span></div></div>
								<div class="taglist--item"><div class="taglist--tag like hasdesc"><span>factions</span></div></div>
							</div>
							<div class="start--realm-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
							<div class="start--realm-footer">
								<div class="start--realm-counters">
									<div class="start--realm-counter"><span class="dot highlight"></span>89 Awake</div>
									<div class="start--realm-counter"><span class="dot"></span>3 929 Characters</div>
								</div>
								<button class="start--realm-signin btn primary">Enter<i class="fa fa-sign-in"></i></button>
							</div>
						</div>
						<div class="start--realm-more">
							<div class="start--realm-caret">
								<i class="fa fa-angle-down"></i>
							</div>
						</div>
					</div>
				</div> -->

				<div class="start--about">
					<section class="start--aboutsection">
						<div class="start--aboutimgs">
							<div class="start--aboutworld start--aboutcol">
								<div class="start--aboutworld-col1">
									<div class="start--aboutworld-town">
										<img class="start--aboutimg" src="/img/magic_city.jpg">
									</div>
								</div>
								<div class="start--aboutworld-col2">
									<div class="start--aboutworld-cafe">
										<img class="start--aboutimg" src="/img/cyberpunk_cafe.jpg">
									</div>
									<div class="start--aboutworld-study">
										<img class="start--aboutimg" src="/img/wizard_study.jpg">
									</div>
								</div>
							</div>
						</div>
						<div class="start--abouttext">
							<div class="start--aboutcol">
								<h2>Create worlds</h2>
								<p>Bring your imagination to life by creating immersive worlds. Be the author of unique environments like a bustling city, a magical forest, or a cozy spot where your friends get together.</p>
								<p>Collaborate with others, add interactive elements through scripting, and watch as your world evolves with the stories and adventures of its inhabitants.</p>
							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
