@import '~scss/variables';
@import '~scss/mixins';

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-button {
	display: none;
}

body {
	-ms-overflow-style:none;
}

.start {
	--gap: 64px;
	min-height: 100vh;
	width: 100%;
	background: $color1;

	ul {
		list-style-position: outside;
		list-style-type: disc;
		margin: 10px 0 10px 2em;
	}

	li {
		margin: 8px 0;
	}

	&--top {
		position: relative;
		height: 700px;
		overflow: hidden;

		&-bg {
			position: absolute;
			width: 100%;
			height: 667px;
			top: calc(var(--scroll) * 0.6px);
			background: $color1-light url('./top_bg.jpg') no-repeat padding-box center;
		}
		&-overlay1 {
			width: 100%;
			height: 100%;
			background: transparent linear-gradient(180deg, #16192600 0%, #161926 100%) 0% 0% no-repeat padding-box;
			opacity: 0.82;
		}
		&-overlay2 {
			width: 100%;
			height: 100%;
			background: transparent linear-gradient(203deg, #16192600 0%, #161926 100%) 0% 0% no-repeat padding-box;
			mix-blend-mode: color;
			opacity: 0.65;
		}
		&-overlay3 {
			width: 100%;
			height: 100%;
			background: transparent linear-gradient(274deg, #16192600 0%, #161926 100%) 0% 0% no-repeat padding-box;
			opacity: 0.82;
		}

		&-hills1 {
			position: absolute;
			width: 100%;
			height: 189px;
			top: 539px;
			background: transparent url('./hills1.svg') no-repeat padding-box center;
		}
		&-hills2 {
			position: absolute;
			top: calc(var(--scroll) * 0.1px + 479px);
			left: 435px;
			width: 1485px;
			height: 191px;
			background: transparent url('./hills2.svg') no-repeat padding-box center;
		}
		&-hills3 {
			position: absolute;
			top: calc(var(--scroll) * 0.2px + 349px);
			left: 0px;
			width: 717px;
			height: 393px;
			background: transparent linear-gradient(284deg, #1F2334 0%, #161926 100%) 0% 0% no-repeat padding-box;
			background: transparent url('./hills3.svg') no-repeat padding-box center;
		}
	}
	&--topcontainer {
		position: relative;
		height: 100%;
		width: 90%;
		max-width: 1617px;
		margin: 0 auto;
	}

	&--topbar {
		display: flex;
		flex-direction: row;
		padding-top: 40px;
		width: 100%;
	}
	&--logo {
		flex: 0 0 auto;
		&-img {
			height: 70px;
			display: inline;
			vertical-align: middle;
		}
		&-text {
			color: $color3;
			font-family: $font-header;
			font-size: 56px;
			margin-left: 20px;
			vertical-align: middle;
			text-transform: lowercase;
		}
	}
	&--topbartools {
		display: flex;
		flex-direction: row;
		flex: 1 1 0px;
		justify-content: flex-end;
		align-items: center;
		column-gap: 24px;
	}



	&--headerbtn.btn, &--headerbtn.iconbtn {
		@include btn-style($color1, $color1-light, $color1-lighter, $color4-light, $color4-lightest);
	}


	&--helpbtn {
		border-radius: 50%;
		height: 40px;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
	}
	&--joinbtn, &--loginbtn {
		// color: $color1;
		// background: linear-gradient(180deg, rgba(74,159,195,1) 0%, rgba(86,183,224,1) 50%, rgba(74,159,195,1) 100%);
		padding: 4px 18px;
		width: 120px;
		height: 40px;
		font-size: 16px;
		font-weight: 500;
		border-radius: 10px;
		> .fa {
			margin-left: 12px;
			margin-right: -2px;
		}
	}

	&--subheading {
		text-transform: uppercase;
		line-height: initial;
		color: $color4;
		font-family: $font-text;
		font-weight: 300;
		letter-spacing: 11.4px;
		text-align: center;
		padding-top: 146px;
		font-size: 38px;
	}
	&--heading {
		color: $color2;
		text-align: center;
		font-size: 108px;
		line-height: initial;
		letter-spacing: -2.16px;
		margin-top: -8px;
	}

	&--main {
	}

	&--maincontainer {
		width: 90%;
		max-width: 1617px;
		margin: 0 auto;
		padding: 44px 0;
	}

	&--search {
		align-items: center;

		> h2 {
			text-transform: uppercase;
			color: $color4;
			font-family: $font-text;
			font-weight: 300;
			letter-spacing: 3.42px;
			text-align: center;
			font-size: 18px;
		}
	}

	&--searchbar {
		position: relative;
		margin: 46px auto 0;
		align-items: center;
		width: 100%;
		max-width: 624px;
	}

	&--searchinput {

		background: $color1-light;
		padding: 18px 16px;
		border-radius: 14px;
		border: 1px solid $color1-lightest;
		color: $color4-lighter;
		padding-left: 64px;
		font-size: 16px;
		box-shadow: 0px 3px 6px #00000029;
	}

	&--searchbtn {
		width: 48px;
		padding: 8px 0 9px;
		font-weight: bold;
		text-transform: uppercase;
		position: absolute;
		left: 6px;
		top: 6px;
		height: calc(100% - 12px);
		border-radius: 8px;
	}

	&--realms {
		display: flex;
		flex-direction: row;
		gap: var(--gap);
		margin-top: 71px;
		// min-width:
		// flex-wrap: wrap;
	}

	&--realm {
		position: relative;
		background-color: $color1-light;
		box-shadow: 0px 3px 6px #00000029;
		border-radius: 16px;

		&-cont {
			flex: 1 1 0px;
			padding: 12px;
			display: flex;
			flex-direction: column;
			min-height: 100%;
		}

		&-img {
			border-radius: 10px;
			width: 100%;
			display: block;
		}

		&-tags {
			padding-top: 12px;
		}

		&-header {
			display: flex;
			flex-direction: row;
			column-gap: 16px;
			padding-top: 12px;
		}

		&-icon {
			width: 48px;
			height: 48px;
			border-radius: 10px;
		}

		&-title-cont {
			display: flex;
			flex-direction: column;
		}

		&-title {
			display: flex;
			align-items: center;
			flex: 1 1 0px;
			font-family: $font-text;
			color: $color3;
			font-size: 24px;
			line-height: 24px;
		}

		&-counters-top {
			display: none;
		}

		&-desc {
			padding-top: 10px;
			font-size: $font-size;
		}

		&-footer {
			align-items: flex-end;
			justify-content: space-between;
			flex: 1 1 0px;
			padding-top: 12px;
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			gap: 12px;
		}

		&-counters {
			display: flex;
			flex-direction: row;
			column-gap: 24px;
			font-size: $font-size-small;
		}

		&-counter {
			line-height: $font-size-small;
		}

		&-signin {
			flex: 0 0 auto;
			font-weight: bold;
			height: 46px;
			padding: 4px 24px;
			border-radius: 8px;
			> .fa {
				margin-left: 12px;
				margin-right: -2px;
			}
		}

		&-more {
			display: none;
		}
	}

	&--about {
		margin-top: 200px;
	}

	&--aboutsection {
		margin-top: 108px;
		margin-left: calc(0px - var(--gap));
		display: flex;
		flex-direction: row;
		// column-gap: 32px;

		> div > * {
			padding-left: var(--gap);
		}
	}

	&--aboutimgs {
		position: relative;
		flex: 2;
	}
	&--abouttext {
		align-self: center;
		flex: 1;
		align-items: center;
		// padding-top: 96px;
		h2 {
			text-align: center;
			font-size: 48px;
			margin-bottom: 48px;
		}
		p {
			text-align: center;
			font-size: 20px;
		}
	}

	&--aboutworld {
		display: flex;
		flex-direction: row;
		column-gap: var(--gap);

		&-col1 {
			display: flex;
			flex-direction: column;
			row-gap: var(--gap);
			justify-content: center;
			flex: 2 2 0px;
		}
		&-col2 {
			flex: 3 3 0px;
			display: flex;
			flex-direction: column;
			row-gap: var(--gap);
		}


		&-study {
			padding-right: var(--gap);
		}
	}

	&--aboutchars {
		display: flex;
		flex-direction: row;
		column-gap: var(--gap);

		&-col1 {
			display: flex;
			flex-direction: column;
			row-gap: var(--gap);
			justify-content: center;
			flex: 2 2 0px;
		}
		&-col2 {
			flex: 3 3 0px;
			display: flex;
			flex-direction: column;
			row-gap: var(--gap);
		}


		&-steampunk {
			padding-right: calc(var(--gap) * 2);
		}
	}

	&--aboutstories {
		display: flex;
		flex-direction: row;
		column-gap: var(--gap);

		&-col1 {
			display: flex;
			flex-direction: column;
			row-gap: var(--gap);
			justify-content: center;
			flex: 2 2 0px;
		}
		&-col2 {
			flex: 3 3 0px;
			display: flex;
			flex-direction: column;
			row-gap: var(--gap);
		}


		&-tavern {
			padding-right: var(--gap);
		}
	}

	&--aboutimg {
		width: 100%;
		border-radius: 20px;
		-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      	mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);
	}

}

@media screen and (max-width: 600px) {
	.start {
		&--foot {
			padding-top: 16px;
		}
		&--btn {
			max-width: 100%;
		}
	}
}


.taglist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 8px;
	column-gap: 8px;
}

.taglist--item {
	flex: 0 0 auto;
}

.taglist--tag {
	position: relative;
	line-height: 16px;
	font-size: $font-size-small;
	text-align: left;
	white-space: nowrap;
	padding: 4px 16px 4px 13px;
	color: $color4;
	border: 1px solid $color4;
	border-radius: 4px;
	border-left: 13px solid;

	&::before {
		font-family: FontAwesome;
		font-style: normal;
		position: absolute;
		color: $color1;
		left: -11px;
		font-size: 10px;
	}

	&.like::before {
		content: "\f00c";
	}

	&.dislike {
		color: $color5;
		border-color: $color5;
		&::before {
			content: "\f05e";
		}
	}

	&.warn {
		color: $color5;
		border-color: $color5;
		&::before {
			content: "\f071";
			left: -12px;
		}
	}

	&.title {
		color: $color6;
		border-color: $color6;
		&::before {
			content: "\f132";
			left: -10px;
		}
	}

	&.hasdesc {
		cursor: help;
	}

	&.custom {
		font-style: italic;
	}

	&.editable {
		cursor: pointer;
		transition: border-color 0.2s, color 0.2s, background-color 0.2s;

		&:hover {
			color: $color4-lighter;
			border-color: $color4-lighter;
			&.dislike {
				color: $color5-light;
				border-color: $color5-light;
			}
			&.title {
				color: $color6-hover;
				border-color: $color6-hover;
			}
		}
	}
}

.dot {
	background: $color4;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	top: -1px;
	position: relative;
	vertical-align: middle;
	margin-right: 10px;
	&.highlight {
		background: $color6;
	}
}



@media screen and (max-width: 1200px) {
	.start {
		--gap: 4vw;

		&--topcontainer {
			position: relative;
			height: 100%;
			width: 90%;
			max-width: 1617px;
			margin: 0 auto;
		}

		&--topbar {
			display: flex;
			flex-direction: row;
			padding-top: 40px;
			width: 100%;
		}
		&--logo {
			flex: 0 0 auto;
			&-img {
				height: 70px;
				display: inline;
				vertical-align: middle;
			}
			&-text {
				color: $color3;
				font-family: $font-header;
				font-size: 56px;
				margin-left: 20px;
				vertical-align: middle;
				text-transform: lowercase;
			}
		}
		&--topbartools {
			display: flex;
			flex-direction: row;
			flex: 1 1 0px;
			justify-content: flex-end;
			align-items: center;
			column-gap: 24px;
		}

		&--realm {
			&-footer  {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-end;
			}

			&-signin {
				width: 100%;
			}
		}
	}
}


@media screen and (max-width: 720px) {
	.start {
		--gap: 5vw;


		&--top {
			height: 537px;

			&-bg {
				height: 537px;
				background-size: cover;
				background-position: calc(50% + 0px) 50%;
			}

			&-hills1 {
				width: 100%;
				height: 74px;
				top: 487px;
				background-position: 0% 0%;
				background-size: cover;
			}
			&-hills2 {
				position: absolute;
				top: calc(var(--scroll) * 0.1px + 440px);
				left: 0px;
				width: 100%;
				height: 121px;
				background-position: 60% 0%;
				background-size: cover;
			}
			&-hills3 {
				position: absolute;
				top: calc(var(--scroll) * 0.2px + 405px);
				left: 0px;
				width: 100%;
				height: 141px;
				background: transparent url('./hills3_mobile.svg') no-repeat padding-box;
				background-position: 0% 0%;
				background-size: cover;
			}
		}

		&--topbar {
			display: flex;
			flex-direction: row;
			padding-top: 40px;
			width: 100%;
		}
		&--logo {
			&-img {
				height: 42px;
			}
			&-text {
				font-size: 33px;
				margin-left: 11px;
			}
		}
		&--topbartools {
			display: none;
		}

		&--subheading {
			letter-spacing: 6.6px;
			padding-top: 109px;
			font-size: 22px;
		}
		&--heading {
			margin-top: 4px;
			font-size: 90px;
			line-height: 90px;
			letter-spacing: -1.8px;
		}

		&--search {
			align-items: center;

			> h2 {
				text-transform: uppercase;
				color: $color4;
				font-family: $font-text;
				font-weight: 300;
				letter-spacing: 3.42px;
				text-align: center;
				font-size: 18px;
			}
		}

		&--searchbar {
			position: relative;
			margin: 46px auto 0;
			align-items: center;
			width: 100%;
			max-width: 624px;
		}

		&--searchinput {

			background: $color1-light;
			padding: 18px 16px;
			border-radius: 14px;
			border: 1px solid $color1-lightest;
			color: $color4-lighter;
			padding-left: 64px;
			font-size: 16px;
			box-shadow: 0px 3px 6px #00000029;
		}

		&--searchbtn {
			width: 48px;
			padding: 8px 0 9px;
			font-weight: bold;
			text-transform: uppercase;
			position: absolute;
			left: 6px;
			top: 6px;
			height: calc(100% - 12px);
			border-radius: 8px;
		}

		&--realms {
			flex-direction: column;
			margin-top: 71px;
		}

		&--realm {
			&-img {
				display: none;
			}

			&-header {
				padding-top: 0px;
			}

			&-title {
				font-size: 22px;
				line-height: 22px;
			}

			&-icon {
				width: 64px;
				height: 64px;
			}

			&-counters-top {
				flex: 0 0 auto;
				font-size: $font-size-tiny;
				display: flex;
				flex-direction: row;
				column-gap: 18px;
			}

			&-desc {
				padding-top: 8px;
			}

			&-counters {
				display: none;
			}

			&-footer  {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-end;
			}

			&-signin {
				width: 100%;
			}

			&:not(.active) {
				height: 204px;
				overflow: hidden;

				.start--realm-more {
					display: block;
					position: absolute;
					width: 100%;
					bottom: 0;
					height: 93px;
					background: transparent linear-gradient(180deg, #00000000 0%, $color1-light 63px) 0% 0% no-repeat padding-box;
				}

				.start--realm-caret {
					position: absolute;
					display: flex;
					justify-content: center;
					bottom: 12px;
					width: 100%;
					font-size: 24px;
				}
			}

		}
	}
}
