@import '~scss/variables';
@import '~scss/mixins';

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-button {
	display: none;
}

body {
	-ms-overflow-style:none;
}

.start {
	--gap: 64px;
	min-height: 100vh;
	width: 100%;
	background: $color1-dark;

	ul {
		list-style-position: outside;
		list-style-type: disc;
		margin: 10px 0 10px 2em;
	}

	li {
		margin: 8px 0;
	}

	&--inner {
		background: $color1;
		max-width: 2400px;
		margin: 0 auto;
		box-shadow: 0px 0px 50px 3px #000000;
	}

	&--top {
		position: relative;
		height: 700px;
		overflow: hidden;

		&-bg {
			position: absolute;
			width: 100%;
			height: 667px;
			top: calc(var(--scroll) * 0.6px);
			background: $color1-light url('./top_bg.jpg') no-repeat padding-box center;
		}
		&-overlay1 {
			width: 100%;
			height: 100%;
			background: transparent linear-gradient(180deg, #16192600 0%, #161926 100%) 0% 0% no-repeat padding-box;
			opacity: 0.82;
		}
		&-overlay2 {
			width: 100%;
			height: 100%;
			background: transparent linear-gradient(203deg, #16192600 0%, #161926 100%) 0% 0% no-repeat padding-box;
			mix-blend-mode: color;
			opacity: 0.65;
		}
		&-overlay3 {
			width: 100%;
			height: 100%;
			background: transparent linear-gradient(274deg, #16192600 0%, #161926 100%) 0% 0% no-repeat padding-box;
			opacity: 0.82;
		}

		&-hills1 {
			position: absolute;
			width: 100%;
			height: 189px;
			top: 539px;
			background: transparent url('./hills1.svg') no-repeat padding-box center;
		}
		&-hills2 {
			position: absolute;
			top: calc(var(--scroll) * 0.1px + 440px);
			left: 440px;
			width: 1960px;
			height: 240px;
			background: transparent url('./hills2.svg') no-repeat padding-box center;
		}
		&-hills3 {
			position: absolute;
			top: calc(var(--scroll) * 0.2px + 349px);
			left: 0px;
			width: 717px;
			height: 393px;
			background: transparent linear-gradient(284deg, #1F2334 0%, #161926 100%) 0% 0% no-repeat padding-box;
			background: transparent url('./hills3.svg') no-repeat padding-box center;
		}
	}
	&--topcontainer {
		position: relative;
		height: 100%;
		width: 90%;
		max-width: 1617px;
		margin: 0 auto;
	}

	&--topbar {
		display: flex;
		flex-direction: row;
		padding-top: 40px;
		width: 100%;
	}
	&--logo {
		flex: 0 0 auto;
		&-img {
			height: 70px;
			display: inline;
			vertical-align: middle;
		}
		&-text {
			color: $color3;
			font-family: $font-header;
			font-size: 56px;
			margin-left: 20px;
			vertical-align: middle;
			text-transform: lowercase;
		}
	}
	&--topbartools {
		flex: 1 1 0px;
	}

	&--subheading {
		text-transform: uppercase;
		line-height: initial;
		color: $color4;
		font-family: $font-text;
		font-weight: 300;
		letter-spacing: 11.4px;
		text-align: center;
		padding-top: 146px;
		font-size: 38px;
	}

	&--heading {
		color: $color2;
		text-align: center;
		font-size: 108px;
		line-height: initial;
		letter-spacing: -2.16px;
		margin-top: -8px;
	}

	&--maincontainer {
		width: 90%;
		max-width: 1617px;
		margin: 0 auto;
		padding: 44px 0;
	}

	&--search {
		align-items: center;

		> h2 {
			text-transform: uppercase;
			color: $color4;
			font-family: $font-text;
			font-weight: 300;
			letter-spacing: 3.42px;
			text-align: center;
			font-size: 18px;
		}
	}

	&--about {
		padding: 150px 0 280px 0;
	}

	&--aboutsection {
		margin-top: 158px;
		margin-left: calc(0px - var(--gap));
		display: flex;
		flex-direction: row;

		> div > * {
			padding-left: var(--gap);
		}
	}

	&--aboutimgs {
		position: relative;
		flex: 2;
	}
	&--abouttext {
		align-self: center;
		flex: 1;
		align-items: center;
		h2 {
			text-align: center;
			font-size: 48px;
			margin-top: -12px;
			margin-bottom: 36px;
    		line-height: 100%;
		}
		p {
			text-align: center;
			font-size: 20px;
		}
	}

	&--em {
		color: #fffcf2;
	}

	&--aboutworld {
		display: flex;
		flex-direction: row;
		column-gap: var(--gap);

		&-col1 {
			display: flex;
			flex-direction: column;
			row-gap: var(--gap);
			justify-content: center;
			flex: 2 2 0px;
		}
		&-col2 {
			flex: 3 3 0px;
			display: flex;
			flex-direction: column;
			row-gap: var(--gap);
		}


		&-study {
			padding-right: var(--gap);
		}
	}

	&--aboutchars {
		display: flex;
		flex-direction: row;
		column-gap: var(--gap);

		&-col1 {
			display: flex;
			flex-direction: column;
			row-gap: var(--gap);
			justify-content: center;
			flex: 2 2 0px;
		}
		&-col2 {
			flex: 3 3 0px;
			display: flex;
			flex-direction: column;
			row-gap: var(--gap);
		}


		&-steampunk {
			padding-right: calc(var(--gap) * 2);
		}
	}

	&--aboutstories {
		display: flex;
		flex-direction: row;
		column-gap: var(--gap);

		&-col1 {
			display: flex;
			flex-direction: column;
			row-gap: var(--gap);
			justify-content: center;
			flex: 2 2 0px;
		}
		&-col2 {
			flex: 3 3 0px;
			display: flex;
			flex-direction: column;
			row-gap: var(--gap);
		}


		&-tavern {
			padding-right: var(--gap);
		}
	}

	&--aboutimg {
		width: 100%;
		border-radius: 20px;
		-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      	mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);

		&.mobile {
			display: none;
		}
	}

	&--footer {
		background: $color1-lighter;

		&-container {
			width: 90%;
			max-width: 1617px;
			margin: 0 auto;
			padding: 44px 0;
			display: flex;
			justify-content: center;
			flex-direction: row;
			gap: var(--gap);
		}

		&-row {
			display: flex;
			flex-direction: row;
			gap: var(--gap);
			flex-wrap: wrap;
		}

		&-logo {
			flex: 0 0 auto;
			&-img {
				height: 42px;
				display: inline;
				vertical-align: middle;
			}
			&-text {
				color: $color3;
				font-family: $font-header;
				font-size: 32px;
				margin-left: 12px;
				vertical-align: middle;
				text-transform: lowercase;
			}
		}

		&-icons {
			margin-top: 32px;
			display: flex;
			flex-direction: row;
			gap: 10px;
		}

		&-svgicon {
			fill: green;
		}

		&-sectionheader {
			margin-bottom: 12px;
		}

		&-section {
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				font-size: $font-size-small;
			}
		}

		&-disclaimer {
			font-size: $font-size-small;
			color: $color4-dark;
		}
	}
}

@media screen and (max-width: 1200px) {
	.start {
		--gap: 4vw;
	}
}

@media screen and (max-width: 1024px) {
	.start {
		&--abouttext {
			flex: 2;
		}

		&--aboutworld {
			&-col1 {
				display: none;
			}
		}

		&--aboutchars {
			&-col1 {
				display: none;
			}
		}

		&--aboutstories {
			&-col1 {
				display: none;
			}
		}

		&--about {
			padding-top: 125px;
		}

		&--aboutsection {
			margin-top: 128px;
		}


		&--footer {

			&-noticesheader {
				display: none;
			}

			&-disclaimer {
				text-align: center;
			}

			&-container {
				flex-direction: column;
				align-items: center;
			}

		}
	}
}

@media screen and (max-width: 720px) {
	.start {
		--gap: 5vw;


		&--top {
			height: 537px;

			&-bg {
				height: 537px;
				background-size: cover;
				background-position: calc(50% + 0px) 50%;
			}

			&-hills1 {
				width: 100%;
				height: 74px;
				top: 487px;
				background-position: 20% 0%;
				background-size: cover;
			}
			&-hills2 {
				position: absolute;
				top: calc(var(--scroll) * 0.1px + 400px);
				left: 0px;
				width: 100%;
				height: 161px;
				background-position: 40% 0%;
				background-size: cover;
			}
			&-hills3 {
				position: absolute;
				top: calc(var(--scroll) * 0.2px + 405px);
				left: 0px;
				width: 100%;
				height: 141px;
				background: transparent url('./hills3_mobile.svg') no-repeat padding-box;
				background-position: 0% 0%;
				background-size: cover;
			}
		}

		&--topbar {
			padding-top: 28px;
		}
		&--logo {
			&-img {
				height: 42px;
			}
			&-text {
				font-size: 33px;
				margin-left: 11px;
			}
		}
		&--topbartools {
			display: none;
		}

		&--subheading {
			letter-spacing: 6.6px;
			padding-top: 109px;
			font-size: 22px;
		}
		&--heading {
			margin-top: 4px;
			font-size: 90px;
			line-height: 90px;
			letter-spacing: -1.8px;
		}

		&--search {
			align-items: center;

			> h2 {
				text-transform: uppercase;
				color: $color4;
				font-family: $font-text;
				font-weight: 300;
				letter-spacing: 3.42px;
				text-align: center;
				font-size: 18px;
			}
		}

		&--searchbar {
			position: relative;
			margin: 46px auto 0;
			align-items: center;
			width: 100%;
			max-width: 624px;
		}

		&--searchinput {

			background: $color1-light;
			padding: 18px 16px;
			border-radius: 14px;
			border: 1px solid $color1-lightest;
			color: $color4-lighter;
			padding-left: 64px;
			font-size: 16px;
			box-shadow: 0px 3px 6px #00000029;
		}

		&--searchbtn {
			width: 48px;
			padding: 8px 0 9px;
			font-weight: bold;
			text-transform: uppercase;
			position: absolute;
			left: 6px;
			top: 6px;
			height: calc(100% - 12px);
			border-radius: 8px;
		}

		&--aboutimgs {
			display: none;
		}

		&--aboutimg.mobile {
			margin-top: -8px;
			margin-bottom: 28px;
			display: block;
  			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}

		&--about {
			padding-top: 100px;
		}

		&--aboutsection {
			margin-top: 104px;
		}
	}


}
