@import '~scss/variables';
@import '~scss/mixins';

.pageeditexit {
	padding: 16px;
	margin: 0;

	&--dir-icons {
		padding-right: 4px;
		border-right: solid 1px $theme-surface-100-bg;
	}
	&--misc-icons {
		padding-left: 4px;
	}

	&--icon {
		padding: 0 2px 2px 0;

		> .iconbtn {
			@include btn-style(none, $theme-control-default-bg-hover, $theme-control-default-bg-hover, $theme-content-muted-fg, $theme-color-neutral-250);
		}

		> .iconbtn.active {
			@include btn-style($theme-control-primary-bg, $theme-control-primary-bg-hover, $theme-control-primary-bg-hover, $theme-control-primary-fg, $theme-control-primary-fg-hover);
		}
	}
}
