@import '~scss/variables';
@import '~scss/mixins';

.pageeditexit {
	padding: 16px;
	margin: 0;

	&--dir-icons {
		padding-right: 4px;
		border-right: solid 1px $theme-color-base-100;
	}
	&--misc-icons {
		padding-left: 4px;
	}

	&--icon {
		padding: 0 2px 2px 0;

		> .iconbtn {
			@include btn-style(none, $theme-color-base-400, $theme-color-base-400, $theme-color-neutral-200, $theme-color-neutral-250);
		}

		> .iconbtn.active {
			@include btn-style($theme-color-action-300, $theme-color-action-200, $theme-color-action-200, $theme-color-base-300, $theme-color-base-400);
		}
	}
}
