@import '~scss/variables';
@import '~scss/mixins';

.pageeditexit {
	padding: 16px;
	margin: 0;

	&--dir-icons {
		padding-right: 4px;
		border-right: solid 1px $color-base-dark;
	}
	&--misc-icons {
		padding-left: 4px;
	}

	&--icon {
		padding: 0 2px 2px 0;

		> .iconbtn {
			@include btn-style(none, $color-base-lighter, $color-base-lighter, $color-muted-dark, $color-muted-semidark);
		}

		> .iconbtn.active {
			@include btn-style($color-action, $color-action-hover, $color-action-hover, $color-base-light, $color-base-lighter);
		}
	}
}
