@import '~scss/variables';

.loginverify {

	&--login {
		margin-top: 22px;
		position: relative;
		> .spinner {
			position: absolute;
			top: 50%;
			left: 26px;
			&:before {
				border-top-color: $color1;
			}
		}
	}

	&--btn {
		width: 100%;
	}

	&--message {
		color: $color5;
	}

	&--divider {
		width: 100%;
		height: 2px;
		background: $color2;
		margin: 32px 0;
		position: relative;

		> * {
			position: absolute;
			display: block;
			padding: 0 10px;
			background: $color1;
			left: 50%;
			margin: 0 -50% 0 0;
			transform: translate(-50%, -50%);
		}
	}

	&--disclaimer {
		display: block;
		margin-bottom: 20px;
		font-size: 16px;
		font-style: italic;
	}

	&--policies {
		margin-top: 20px;
		text-align: center;

		> * {
			display: inline;
			font-family: $font-text;
			font-size: 13px;
			+ * {
				margin-left: 32px;
			}
		}
	}

	&--email {
		display: inline-block;
		font-family: $font-text;
		color: $color3;
	}
}
