@import '~scss/variables';

.loginverify {

	&--login {
		margin-top: 22px;
		position: relative;
	}

	&--btn {
		width: 100%;
	}

	&--message {
		color: $color5;
	}

	&--disclaimer {
		display: block;
		margin-bottom: 20px;
		font-size: 16px;
		font-style: italic;
	}

	&--policies {
		margin-top: 20px;
		text-align: center;

		> * {
			display: inline;
			font-family: $font-text;
			font-size: 13px;
			+ * {
				margin-left: 32px;
			}
		}
	}

	&--email {
		display: inline-block;
		font-family: $font-text;
		color: $color3;
	}
}
