@import '~scss/variables';

.mobileroombadge {
	position: absolute;
	top: 12px;
	right: 12px;
	flex-direction: row;
	display: flex;

	&--name {
		line-height: 20px;
	}

	&--badge {
		box-shadow: 0px 0px 8px 4px $color1;
		> .btn.badge {
			background: $color1-lighter;
			&:not(:disabled) {
				&:hover, &:focus, &:active {
					background: lighten($color1-lighter, 3%);
				}
			}
		}
	}

	&--badgecont {
		width: 186px;
		transition: opacity 0.2s;
	}

	&--counter {
		flex: 0 0 auto;
		padding-right: 6px;
		padding-left: 6px;
	}
}

.mobileroombadge.mobileroombadge--mobile {
	top: 12px;
	right: 12px;
}
