@import '~scss/variables';
@import '~scss/mixins';

.charsettingstriggers {
	&--trigger {
		position: relative;

		> input {
			padding-right: 38px;
		}
	}

	&--add.iconbtn {
		@include btn-style(none, $theme-control-default-bg-hover, $theme-control-default-bg-active, $theme-control-default-fg-hover, $theme-button-light-fg-hover);
		position: absolute;
		right: 3px;
		top: 3px;
	}
}
