@import '~scss/variables';
@import '~scss/mixins';

// Page reports colors
$pagereports-report-unassigned-background: darken($color-base, 6%);
$pagereports-report-unassigned-background-hover: darken($color-base, 9%);
// Page reports theme vars
$theme-pagereports-report-unassigned-background: var(--mu-pagereports-report-unassigned-background, #{$pagereports-report-unassigned-background});
$theme-pagereports-report-unassigned-background-hover: var(--mu-pagereports-report-unassigned-background-hover, #{$pagereports-report-unassigned-background-hover});

.pagereports {
	padding: 16px 14px;

	&--name {
		color: $theme-color-contrast;
		font-size: $font-size;
	}

	&--name, &--email {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&--tool-btn {
		position: relative;
	}
}


.pagereports-report {
	padding: 2px 0;

	&--icon.accepted {
		@include btn-style($theme-color-action, $theme-color-action, $theme-color-action, $black, $black);
	}

	&--icon.rejected, &--icon.failed {
		@include btn-style($theme-color-danger, $theme-color-danger, $theme-color-danger, $black, $black);
	}

	&--badge.unassigned {
		background: $theme-pagereports-report-unassigned-background;

		&:not(:disabled) {
			&:hover, &:focus, &:active {
				background: $theme-pagereports-report-unassigned-background-hover;
			}
		}
	}
}

.pagereports-report, .pagereports-reporter {
	&--copyid i {
		transition: opacity 0.3s;
		opacity: 0;
	}

	&--badge .badge--select:hover &--copyid i {
		opacity: 0.6;
	}

	&--badge .badge--select:hover &--copyid:hover i {
		opacity: 1;
	}
}

.pagereports-closed {
	&--head {
		padding: 0 0 8px;
		font-size: $font-size-small;
	}

	&--nomail {
		font-style: italic;
	}
}
