@import '~scss/variables';
@import './charLog-theme';
@import '~scss/mixins';

.charlog {
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;

	&--log {
		position: absolute;
		height: 100%;
		top: 0;
		bottom: 0;
		right: 2px;
		left: 0;
	}

	&--ev {
		position: relative;
		border-left: 4px solid transparent;
		overflow-wrap: break-word;
		padding: 2px 0 2px 6px;
		line-height: 1.4em;

		pre {
			white-space: pre-wrap;
		}

		&.charlog--nofocus {
			border-left: none;
		}
	}

	// Colors
	&--strong {
		color: $theme-log-strong-fg;
	}

	&--cmd {
		color: $theme-log-cmd-fg;
	}

	&--error {
		color: $theme-log-error-fg;
	}

	&--listitem {
		color: $theme-log-listitem-fg;
	}

	&--default {
		color: $theme-log-default-fg;
	}

	&--ooc {
		color: $theme-log-ooc-fg;
	}

	&--comm {
		color: $theme-log-comm-fg;
	}

	&--placeholder {
		color: $theme-log-placeholder-fg;
		font-style: italic;
	}

	&--invalid {
		background: $theme-charlog-invalid-background;
	}

	// Should have higher priority than the others.
	&--char {
		color: $theme-log-char-fg;
	}


	// Common padding
	&--pad-small {
		@include log-pad(small)
	}
	&--pad {
		@include log-pad()
	}
	&--pad-large {
		@include log-pad(large)
	}
	&--pad-huge {
		@include log-pad(huge)
	}

	// Common styling
	&--fieldset {
		position: relative;
		border: 1px solid $theme-log-fieldset-border;
		padding: 5px 10px;
		border-radius: 8px;
	}

	&--fieldset-label {
		color: $theme-log-fieldset-label-fg;
		position: absolute;
		background: $theme-log-fieldset-label-bg;
		top: -1px;
		height: 2px;
		left: 16px;
		padding: 0 4px;

		> span {
			position: relative;
			top: -12px;
			font-size: $font-size-tiny;
			line-height: $font-size-tiny;
		}
	}

	&--tag {
		font-size: $font-size-tiny;
		color: $theme-log-fieldset-label-fg;
		position: absolute;
		margin-left: -1em;
		margin-top: -13px;
		white-space: pre-wrap;
	}

	&--font-small {
		font-size: $font-size-small;
	}

	&--code-simple {
		font-size: $font-size-small;
		font-family: $font-code;
		color: $theme-log-code-fg;
	}

	&--source {
		color: $theme-log-source-fg;
		font-family: $font-code;
	}

	&--code, &--code-inline {
		font-style: normal;
		font-size: $font-size-small;
		padding: 6px 10px;
		background: $theme-log-code-bg;
		border-radius: 8px;

		h4 {
			margin-bottom: 4px;
		}

		p {
			font-size: $font-size-small;
			margin-bottom: 2px;
		}

		code {
			font-size: $font-size-small;
			font-family: $font-code;
			color: $theme-log-code-fg;

			em {
				color: $theme-log-emphasis-fg;
				font-style: normal;
			}
		}

		.opt {
			&::before {
				content: "[";
				color: $theme-log-formatter-fg;
			}
			&::after {
				content: "]";
				color: $theme-log-formatter-fg;
			}
		}

		.param {
			color: $theme-log-listitem-fg;
			&::before {
				content: "<";
			}
			&::after {
				content: ">";
			}
		}

		.comment {
			color: $theme-log-default-fg;
		}

		sup {
			font-size: 75%;
			line-height: 0;
			position: relative;
			top: -0.5em;
		}
	}

	&--code-inline {
		display: inline-block;
		padding: 3px 5px;
	}

	&--list {
		padding: 8px 14px 8px 8px;
	}

	&--ol {
		font-size: $font-size-small;
		// padding: 8px 14px 8px 8px;
		margin: 4px 0 4px 2em;
		list-style-position: outside;
		list-style-type:decimal;

		> li {
			margin: 2px 0;
			text-indent: 0.5em;
		}
	}

	&--info {
		color: $theme-log-info-fg;
		padding-top: 4px;
	}

	&--title {
		padding: 6px 0 2px 0;
		color: $theme-log-title-fg;
		padding-top: 4px;
	}

	&--card {
		position: relative;
		background: $theme-log-card-bg;
		padding: 5px 11px;
		border-radius: 8px;
	}

	.simplebar-scrollbar::before {
		background-color: $theme-surface-500-bg;
	}
}

.charlog-eventmenu {
	position: absolute;
	right: 0px;
	top: 0px;

	@include btn-style($theme-charlog-eventmenu-background, $theme-control-default-bg-hover, $theme-control-default-bg-active, $theme-control-default-fg, $theme-control-default-fg-hover);

	&--menu {
		position: absolute;
		background: $theme-surface-400-bg;
		min-width: 100px;
		// min-height: 100px;
		box-shadow: 1px 2px 4px 0px $theme-charlog-eventmenu-shadow;
		padding: 8px 0;
		// Animation
		transform: translate(-100%, 0px);
		animation-name: charlog-eventmenu-opacity;
		animation-duration: 0.3s;
		opacity: 1;
		z-index: 5;
	}

	&--btn {
		padding: 4px 12px;
		font-size: $font-size-small;
		font-family: $font-text;
		text-decoration: none;
		border: 0;
		width: 100%;
		transition: color 0.2s, background-color 0.2s;
		cursor: pointer;
		@include btn-style(none, $theme-control-default-bg-active, $theme-control-default-bg-active, $theme-control-default-fg-hover, $theme-button-light-fg-hover);
	}

	&--btnicon {
		min-width: 20px;
	}
}

.charlog-muted {
	padding: 0 0 2px 2px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	> div {
		padding: 8px 0 0 8px;
	}
}

@keyframes charlog-eventmenu-opacity {
	from {
		transform: translate(-100%, 0px) scale(0.9);
		opacity: 0;
	}
	to {
		transform: translate(-100%, 0px) scale(1);
		opacity: 1;
	}
}
