@import '~scss/variables';

// Mark trigger words
.charlog--mark-triggers {
	.common--formattext {
		span.mark {
			color: $theme-log-mark-fg;
			background: $theme-log-mark-bg;
			padding: 0 3px;
			margin: 0 -1px;
			border-radius: 4px;
		}
		// Inline ooc text
		span.ooc {
			span.mark {
				color: $theme-log-mark-ooc-fg;
			}
		}
	}

	// Mark text color for ooc text
	.charlog--ooc .common--formattext {
		span.mark {
			color: $theme-log-mark-ooc-fg;
		}
	}
	// Mark text color for communication text
	.charlog--comm {
		.common--formattext {
			span.mark {
				color: $theme-log-mark-comm-fg;
			}
		}
	}
}

// Highlight targeted/mention messages
.charlog--highlight-mention {
	.charlog--ev.mentioned, .charlog--ev.targeted {
		// Highlight background
		.charlog--highlight {
			background: $theme-log-highlight-bg;
		}
		.charlog--fieldset {
			background: $theme-log-highlight-fieldset-bg;
		}
		.charlog--fieldset-label {
			background: $theme-log-highlight-fieldset-bg;
		}

		// Text color for highlighted targeted/mention messages
		// Default color
		color: $theme-log-highlight-fg;
		// Inline ooc text
		.common--formattext {
			span.ooc {
				color: $theme-log-highlight-ooc-fg;
			}
		}
		// Brighten comm
		.charlog--comm {
			color: $theme-log-highlight-comm-fg;
		}
		// Brighten ooc
		.charlog--ooc {
			color: $theme-log-highlight-ooc-fg;
		}
	}

	// Border and label text color should not overrule warn and help
	:not(.ev-warn):not(.ev-helpme) > .charlog--ev.mentioned,
	:not(.ev-warn):not(.ev-helpme) > .charlog--ev.targeted {
		.charlog--fieldset {
			border-color: $theme-log-highlight-fieldset-border;
		}

		.charlog--fieldset-label {
			color: $theme-log-highlight-fieldset-label-fg;
		}
	}
}

// Highlight own messages
.charlog--highlight-own {
	.charlog--ev.own{
		// Highlight background
		.charlog--highlight {
			background: $theme-log-highlight-bg;
		}
		.charlog--fieldset {
			background: $theme-log-highlight-fieldset-bg;
		}
		.charlog--fieldset-label {
			background: $theme-log-highlight-fieldset-bg;
		}

		// Text color for highlighted own messages
		// Default color
		color: $theme-log-highlight-fg;
		// Inline ooc text
		.common--formattext {
			span.ooc {
				color: $theme-log-highlight-ooc-fg;
			}
		}
		// Brighten comm
		.charlog--comm {
			color: $theme-log-highlight-comm-fg;
		}
		// Brighten ooc
		.charlog--ooc {
			color: $theme-log-highlight-ooc-fg;
		}
	}

	// Border and label text color should not overrule warn and help
	:not(.ev-warn):not(.ev-helpme) > .charlog--ev.own {
		.charlog--fieldset {
			border-color: $theme-log-highlight-fieldset-border;
		}

		.charlog--fieldset-label {
			color: $theme-log-highlight-fieldset-label-fg;
		}
	}
}

// Highlighted targeted/mention messages with marked triggers
.charlog--mark-triggers.charlog--highlight-mention {
	.charlog--ev.mentioned, .charlog--ev.targeted {
		.common--formattext {
			span.mark {
				color: $theme-log-highlight-mark-fg;
				background: $theme-log-highlight-mark-bg;
			}
			span.ooc {
				span.mark {
					color: $theme-log-highlight-mark-ooc-fg;
				}
			}
		}
		// Brighten comm marking
		.charlog--comm {
			.common--formattext {
				span.mark {
					color: $theme-log-highlight-mark-comm-fg;
				}
			}
		}
		// Brighten ooc marking
		.charlog--ooc {
			.common--formattext {
				span.mark {
					color: $theme-log-highlight-mark-ooc-fg;
				}
			}
		}
	}
}

// Highlighted own messages with marked triggers
.charlog--mark-triggers.charlog--highlight-own {
	.charlog--ev.own {
		.common--formattext {
			span.mark {
				background: $theme-log-highlight-mark-bg;
			}
			span.ooc {
				span.mark {
					color: $theme-log-highlight-mark-ooc-fg;
				}
			}
		}
		// Brighten comm marking
		.charlog--comm {
			.common--formattext {
				span.mark {
					color: $theme-log-highlight-mark-comm-fg;
				}
			}
		}
		// Brighten ooc marking
		.charlog--ooc {
			.common--formattext {
				span.mark {
					color: $theme-log-highlight-mark-ooc-fg;
				}
			}
		}
	}
}
