@import '~scss/variables';
@import '~scss/mixins';

$charlog-textpad: 6px;
$charlog-labelpad: 8px;

.charlog-event {
	&--tooltip {
		font-style: normal;
	}
}

.ev- {
	// color: $color4-dark; // Info, OOC
	// color: $color4; // Events (default)
	// color: $color4-lightest; // Communication

	&describe {
		font-size: $font-size-small;
		white-space: pre-wrap;
		// color: $color4;
		padding-top: $charlog-textpad;
	}

	&error, &errorComponent, &localError {
		color: $log-error;
		font-size: $font-size-small;
		padding-top: $charlog-textpad;
	}

	&info {
		font-size: $font-size-small;
		padding-top: $charlog-textpad;
	}

	&whisper, &message, &mail {
		white-space: pre-wrap;
		// color: $color4-lightest;
		padding-top: $charlog-labelpad;
	}

	&dnd {
		white-space: pre-wrap;
		// color: $color4;
		padding-top: $charlog-labelpad;
	}

	&say, &pose {
		white-space: pre-wrap;
		padding-top: $charlog-textpad;
	}

	&ooc, &address {
		white-space: pre-wrap;
		// color: $color4-lightest;
		padding-top: $charlog-labelpad;
	}

	&msg, &wakeup, &sleep, &leave, &arrive, &travel, &action {
		// color: $color4;
		padding-top: $charlog-labelpad;
		font-style: italic;
	}

	&warn {
		white-space: pre-wrap;
		// color: $log-error;
		padding-top: $charlog-labelpad;

		.charlog--fieldset {
			border-color: $log-error;
		}

		.charlog--fieldset-label {
			color: $log-error;
		}
	}

	&summon, &join, &leadRequest, &followRequest, &follow, &stopFollow, &stopLead, &controlRequest {
		// color: $color4;
		padding-top: $charlog-labelpad;
		font-style: italic;
	}

	&describe {
		font-size: $font-size-small;
		white-space: pre-wrap;
		// color: $color4;
		padding-top: $charlog-textpad;
	}

	&travel {
		&--room {
			padding: 16px 0 4px 0;
			font-size: $font-size;
			color: $color2;
		}
	}
}
