@import '~scss/variables';

// Highlight trigger words
.charlog--highlight-triggers {
	.common--formattext {
		span.highlight {
			color: $theme-color-neutral-600;
			background: $theme-color-base-400;
			padding: 0 3px;
			margin: 0 -1px;
			border-radius: 4px;
		}
		// Inline ooc text
		span.ooc {
			span.highlight {
				color: $theme-color-neutral-400;
			}
		}
	}

	// Highlight text color for ooc text
	.charlog--ooc .common--formattext {
		span.highlight {
			color: $theme-color-neutral-400;
		}
	}
	// Highlight text color for communication text
	.charlog--comm {
		.common--formattext {
			span.highlight {
				color: $theme-color-contrast-300;
			}
		}
	}
}

// Highlight targeted/mention messages
.charlog--highlight-mention {
	.charlog--ev.mentioned, .charlog--ev.targeted {
		.charlog--highlight, .charlog--fieldset, .charlog--fieldset-label {
			background: $theme-color-base-300;
		}
	}
}

// Highlight own messages
.charlog--highlight-own {
	.charlog--ev.own {
		.charlog--highlight, .charlog--fieldset, .charlog--fieldset-label {
			background: $theme-color-base-300;
		}
	}
}

// Text color for highlighted targeted/mention messages
.charlog--highlight-mention {
	.charlog--ev.mentioned, .charlog--ev.targeted {
		// Default color
		color: $theme-color-neutral-400;
		// Inline ooc text
		.common--formattext {
			span.ooc {
				color: $theme-color-neutral-250;
			}
		}
		// Brighten comm
		.charlog--comm {
			color: $theme-color-neutral-700;
		}
		// Brighten ooc
		.charlog--ooc {
			color: $theme-color-neutral-250;
		}
	}
}

// Text color for highlighted own messages
.charlog--highlight-own {
	.charlog--ev.own{
		// Default color
		color: $theme-color-neutral-400;
		// Inline ooc text
		.common--formattext {
			span.ooc {
				color: $theme-color-neutral-250;
			}
		}
		// Brighten comm
		.charlog--comm {
			color: $theme-color-neutral-700;
		}
		// Brighten ooc
		.charlog--ooc {
			color: $theme-color-neutral-250;
		}
	}
}

// Highlighted targeted/mention messages with highlighted triggers
.charlog--highlight-triggers.charlog--highlight-mention {
	.charlog--ev.mentioned, .charlog--ev.targeted {
		.common--formattext {
			span.highlight {
				background: $theme-color-base-500;
			}
			span.ooc {
				span.highlight {
					color: $theme-color-neutral-500;
				}
			}
		}
		// Brighten comm highlighting
		.charlog--comm {
			.common--formattext {
				span.highlight {
					color: $white;
				}
			}
		}
		// Brighten ooc highlighting
		.charlog--ooc {
			.common--formattext {
				span.highlight {
					color: $theme-color-neutral-500;
				}
			}
		}
	}
}

// Highlighted own messages with highlighted triggers
.charlog--highlight-triggers.charlog--highlight-own {
	.charlog--ev.own {
		.common--formattext {
			span.highlight {
				background: $theme-color-base-500;
			}
			span.ooc {
				span.highlight {
					color: $theme-color-neutral-500;
				}
			}
		}
		// Brighten comm highlighting
		.charlog--comm {
			.common--formattext {
				span.highlight {
					color: $white;
				}
			}
		}
		// Brighten ooc highlighting
		.charlog--ooc {
			.common--formattext {
				span.highlight {
					color: $theme-color-neutral-500;
				}
			}
		}
	}
}
