@import '~scss/variables';
@import './dialogTag-theme';

.dialogtag {
	max-width: 420px;

	&--desc {
		transition: color 0.2s, background-color 0.2s;

		&:disabled {
			color: $theme-content-default-fg;
			background: $theme-dialogtag-desc-disabled-background;
		}
	}

	&--pref-dislike > .togglebox.value-1 > div {
		background: $theme-status-danger-bg;
		&:hover {
			background: $theme-dialogtag-pref-dislike-background-hover;
		}
	}
}
