@import '~scss/variables';

.dialogtag {
	max-width: 420px;

	&--desc {
		transition: color 0.2s, background-color 0.2s;

		&:disabled {
			color: $theme-content-default-fg;
			background: $theme-surface-400-bg;
		}
	}

	&--pref-dislike > .togglebox.value-1 > div {
		background: $theme-control-danger-bg;
		&:hover {
			background: $theme-control-danger-bg-hover;
		}
	}
}
