# dependencies
node_modules
/coverage

# local config
/webpack.alias.js
/webpack.alias.js.*
/cfg/client/module.config.local.js
/cfg/client/site.config.local.js


# production
build

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode
