@import '~scss/variables';

.dialog.confirm {
	max-width: 360px;

	&.wide {
		max-width: 420px;
	}

	.confirm--body {
		display: block;
		margin: 16px 0 32px 0;

	}
}


.confirm--footer {
	margin: 32px 0 8px 0;

	.btn + .btn {
		margin-left: 12px;
	}

	> * {
		min-width: 120px;
	}
}
