@import '~scss/variables';

.dialog.confirm {
	max-width: 360px;

	&.wide {
		max-width: 420px;
	}

	.confirm--body {
		display: block;
		margin: 16px 0 32px 0;

	}

	// p {
	// 	margin: 8px 0 12px 0;
	// }
}


.confirm--footer {
	margin: 32px 0 8px 0;

	.btn + .btn {
		margin-left: 12px;
	}

	// .btn.confirm--withspinner {
	// 	padding-left: 48px;
	// 	padding-right: 48px;
	// 	> .spinner {
	// 		position: absolute;
	// 		top: 50%;
	// 		left: 24px;
	// 		&:before {
	// 			border-top-color: $white;
	// 		}
	// 		&.hide {
	// 			display: none;
	// 		}
	// 	}
	// }

	> * {
		min-width: 120px;
	}
}
