@import '~scss/variables';
@import '~scss/mixins';

.editrealmtags {
	&--tag {
		position: relative;

		> input {
			padding-right: 38px;
		}
	}

	&--add.iconbtn {
		@include btn-style(none, $color1-lighter, $color1-lightest, $color4-light, $color4-lighter);
		position: absolute;
		right: 3px;
		top: 3px;
	}

	&--title {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&--tools {
		margin-left: 12px;

		> * {
			display: inline-block;
		}
	}
}
