@import '~scss/variables';

.stripe {

	&--payment {
		padding-bottom: 0px;
	}

	&--recurrenceinfo {
		padding: 4px 0 8px 0;
		font-size: $font-size-tiny;
	}

	&--pay {
		margin-top: 16px;
		position: relative;
		> .spinner {
			position: absolute;
			top: 50%;
			left: 26px;
			&:before {
				border-top-color: $color1;
			}
		}
		max-width: 240px;
	}

	&--btn {
		width: 100%;
	}

	&--error {
		color: $color5;
	}

	&--input {
		line-height: 20px;
		margin-top: 6px;
		margin-bottom: 10px;
	}
}


@media screen and (max-width: 720px) {
	.stripe {
		&--pay {
			max-width: inherit;
		}
	}
}
