@import '~scss/variables';
@import '~scss/mixins';

.pagerequests {
	padding: 16px 14px;

	&--name {
		color: $theme-content-strong-fg;
		font-size: $font-size;
	}

	&--name, &--email {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&--tool-btn {
		position: relative;
	}
}

.pagerequests-request {
	padding: 2px 0;

	&--icon.accepted {
		background: $theme-status-info-bg;
		color: $theme-status-info-fg;
	}

	&--icon.rejected, &--icon.failed {
		background: $theme-status-danger-bg;
		color: $theme-status-danger-fg;
	}
}
