@import '~scss/variables';
@import '~scss/mixins';

.pagerequests {
	padding: 16px 14px;

	&--name {
		color: $theme-color-contrast-300;
		font-size: $font-size;
	}

	&--name, &--email {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&--tool-btn {
		position: relative;
	}
}


.pagerequests-request {
	padding: 2px 0;

	&--icon.accepted {
		@include btn-style($theme-color-action-300, $theme-color-action-300, $theme-color-action-300, $black, $black);
	}

	&--icon.rejected, &--icon.failed {
		@include btn-style($theme-color-danger-300, $theme-color-danger-300, $theme-color-danger-300, $black, $black);
	}
}
