@import '~scss/variables';

.pagechar {
	padding: 8px 16px 16px 16px;
	margin: 0;

	&--tools, &--footertools {
		display: flex;

		&::after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
		}

		> * {
			display: inline-block;
		}
	}

	&--footertools {
		margin: 0 -2px;
		border-top: 1px solid $color1-dark;
		padding-top: 8px;

		> div {
			padding: 0px 2px;
		}
	}

	&--image-cont {
		padding-top: 8px;
	}

	&--image {
		cursor: pointer;
		display: block;
		border-radius: 20px;
		width: 286px;
		height: 286px;
	}

	&--fullname {
		padding: 10px 0 4px 0;
		font-family: $font-text;
		color: $color3;
		font-size: 20px;
	}

	&--notset {
		font-style: italic;
		font-size: $font-size;
		color: $color4-dark;
	}

	&--tags {
		padding-top: 6px;
	}
}

.pagechar--sleep {
	margin-left: auto;
}
