@import '~scss/variables';
@import '~scss/mixins';

.pageteleportchar {
	padding: 16px;
}

.pageteleportchar-room, .pageteleportchar-node {
	padding: 2px 0;

	&--tools i {
		@include transition(opacity 0.3s);
	}

	&--tools i {
		opacity: 0;
	}

	&:hover &--tools i {
		opacity: 0.6;
	}

	&:hover &--tools:hover i {
		opacity: 1;
	}
}
