@import '~scss/variables';
@import '~scss/mixins';

.pageroom {
	padding: 8px 16px;

	&--population {
		position: relative;
		top: -8px;
		font-size: $font-size-tiny;
	}

	&--tools {
		&::after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
		}

		> * {
			display: inline-block;
		}
	}

	&--image-cont {
		padding-top: 8px;
	}

	&--image {
		cursor: pointer;
		display: block;
		border-radius: 20px;
		width: 286px;
		height: 286px;
	}

	&--exitsheader, &--inroomheader {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&--exitstools, &--inroomtools {
		margin-left: 12px;

		> * {
			display: inline-block;
		}
	}
}

.pageroom-char, .pageroom-exit {
	padding: 2px 0;
}

.pageroom-exitchars {
	&--row {
		padding-top: 4px;
		display: flex;
		flex-direction: row;
		margin-left: -2px;
	}

	&--char {
		padding-left: 2px;
		padding-right: 2px;
	}

	&--tooltip {
		text-align: left;
		white-space: pre;
		font-size: $font-size-tiny;
		color: $theme-content-default-fg;
		line-height: 18px;
	}

	&--fullname {
		@include transition(color 1s);
		font-size: $font-size-tiny + 1px;
	}

	&--avatar {
		> svg {
			background-color: $theme-svg-placeholder-200-bg;
			color: $theme-svg-placeholder-200-fg;
		}
	}
}

.pageroom-char {
	position: relative;

	&--cont {
		margin-left: -8px;
		border-left: 4px solid transparent;
		padding-left: 4px;
		@include transition(border 0.5s);

		&.looking {
			border-left: 4px solid $theme-indicator-context-border;
		}
	}

	&--note i {
		@include transition(opacity 0.3s);
	}

	&--note:not(.hasnote) i {
		opacity: 0;
	}

	&--badge:hover &--note i {
		opacity: 1;
	}

	&--badge:hover &--note:not(.hasnote) i {
		opacity: 0.6;
	}

	&--badge:hover &--note:hover:not(.hasnote) i {
		opacity: 1;
	}

	&--name {
		@include transition(color 1s);
	}
}
