@import '~scss/variables';
@import '~scss/mixins';

// Page room colors
$pageroom-char-status: mix($color-neutral, $color-accent, 20%);
// Page room theme vars
$theme-pageroom-char-status: var(--mu-pageroom-char-status, #{$pageroom-char-status});

.pageroom {
	padding: 8px 16px;

	&--population {
		position: relative;
		top: -8px;
		font-size: $font-size-tiny;
		color: $theme-color-neutral-300;
	}

	&--tools {
		&::after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
		}

		> * {
			display: inline-block;
		}
	}

	&--image-cont {
		padding-top: 8px;
	}

	&--image {
		cursor: pointer;
		display: block;
		border-radius: 20px;
		width: 286px;
		height: 286px;
	}

	&--name {
		padding: 10px 0 4px 0;
		font-family: $font-text;
		color: $theme-color-contrast-300;
		font-size: 20px;
	}

	&--exitsheader, &--inroomheader {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&--exitstools, &--inroomtools {
		margin-left: 12px;

		> * {
			display: inline-block;
		}
	}
}

.pageroom-char, .pageroom-exit {
	padding: 2px 0;
}

.pageroom-exitchars {
	&--row {
		padding-top: 4px;
		display: flex;
		flex-direction: row;
		margin-left: -2px;
	}

	&--char {
		padding-left: 2px;
		padding-right: 2px;
	}

	&--tooltip {
		text-align: left;
		white-space: pre;
		font-size: $font-size-tiny;
		color: $theme-color-neutral-500;
		line-height: 18px;
	}

	&--fullname {
		@include transition(color 1s);
		font-size: $font-size-tiny + 1px;
	}

	&--avatar {
		> svg {
			background-color: $theme-color-base-400;
			color: $theme-color-base-200;
		}
	}
}

.pageroom-char {
	position: relative;

	&--cont {
		margin-left: -8px;
		border-left: 4px solid transparent;
		padding-left: 4px;
		@include transition(border 0.5s);

		&.looking {
			border-left: 4px solid $theme-color-accent-300;
		}
	}

	&--looking {
		color: $theme-color-neutral-400;
		font-size: $font-size-tiny;
		position: absolute;
		top: 4px;
		right: 8px;
	}

	&--note i {
		@include transition(opacity 0.3s);
	}

	&--note:not(.hasnote) i {
		opacity: 0;
	}

	&--badge:hover &--note i {
		opacity: 1;
	}

	&--badge:hover &--note:not(.hasnote) i {
		opacity: 0.6;
	}

	&--badge:hover &--note:hover:not(.hasnote) i {
		opacity: 1;
	}

	&--name {
		@include transition(color 1s);
	}

	&--status {
		color: $theme-pageroom-char-status;
		font-style: italic;
	}
}
