@import '~scss/variables';
@import '~scss/mixins';

.ev- {
	&control {
		font-size: $font-size-small;
		padding-top: 9px;
		padding-bottom: 12px;
		line-height: 24px;
		&--border {
			border-bottom: 1px solid $color4;
		}
	}

	&release {
		height: 20px;
	}
}
