@import '~scss/variables';

.passwordreset {

	&--login {
		margin-top: 22px;
		position: relative;
		> .spinner {
			position: absolute;
			top: 50%;
			left: 26px;
			&:before {
				border-top-color: $color1;
			}
		}
	}

	&--btn {
		width: 100%;
	}

	&--message {
		color: $color5;
	}

	&--disclaimer {
		display: block;
		margin-bottom: 20px;
		font-size: 16px;
		font-style: italic;
	}
}
