@import '~scss/variables';
@import '~scss/mixins';

// .realmlist {}

.realmlist-list {
	padding-top: 16px;

	&--head {
		margin: 0 auto;
		width: 100%;
		max-width: 624px;
	}

	&--list {
		display: flex;
		flex-direction: row;
		gap: var(--gap);
		margin-top: 24px;
		justify-content: center;
	}

	&--realm {
		max-width: 496px;
		flex: 1 1 0px;
		// height: 100%;
	}
}

.realmlist-norealm {
	margin-top: 76px;

	&--img {
		display: block;
		width: 100%;
		margin: 0 auto;
		max-width: 496px;
		aspect-ratio: 235 / 170;
	}
	&--info {
		width: 100%;
		max-width: 624px;
		padding-top: 32px;
		margin: 0 auto;
		text-align: center;
		font-size: $font-size-large;
	}
	&--tip {
		font-size: $font-size;
		color: $color4-dark;

		> code {
			display: inline-block;
			padding: 3px 5px;
			background: $color1-dark;
			border-radius: 8px;
		}
	}
}

.realmlist-realm {

	position: relative;
	background-color: $color1-light;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 16px;
	height: 100%;

	&--cont {
		padding: 12px;
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

	&--img {
		border-radius: 10px;
		width: 100%;
		aspect-ratio: 16 / 9;
		display: block;
	}

	&--tags {
		padding-top: 12px;
	}

	&--header {
		display: flex;
		flex-direction: row;
		column-gap: 16px;
		padding-top: 12px;
	}

	&--icon {
		width: 48px;
		height: 48px;
		border-radius: 10px;
	}

	&--title-cont {
		display: flex;
		flex-direction: column;
	}

	&--title {
		display: flex;
		align-items: center;
		flex: 1 1 0px;
		font-family: $font-text;
		color: $color3;
		font-size: 24px;
		line-height: 24px;
	}

	&--counters-top {
		display: none;
	}

	&--desc {
		padding-top: 10px;
		font-size: $font-size;
	}

	&--footer {
		align-items: flex-end;
		justify-content: space-between;
		flex: 1 1 0px;
		padding-top: 12px;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		gap: 12px;
	}

	&--counters {
		display: flex;
		flex-direction: row;
		column-gap: 24px;
		font-size: $font-size-small;
	}

	&--counter {
		line-height: $font-size-small;
	}

	&--signin {
		flex: 0 0 auto;
		font-weight: bold;
		height: 46px;
		padding: 4px 24px;
		border-radius: 8px;
		> .fa {
			margin-left: 12px;
			margin-right: -2px;
		}
	}

	&--dot {
		background: $color4;
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		top: -1px;
		position: relative;
		vertical-align: middle;
		margin-right: 10px;
		&.highlight {
			background: $color6;
		}
	}
}

.realmlist-placeholderlist {
	display: flex;
	flex-direction: row;
	gap: var(--gap);
	margin-top: 72px;
	justify-content: center;

	&--realm {
		max-width: 496px;
		flex: 1 1 0px;
	}
}

.realmlist-placeholder {

	position: relative;
	background-color: $color1-light;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 16px;
	height: 100%;

	&--cont {
		padding: 12px;
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

	&--img {
		background-color: $color1;
		border-radius: 10px;
		width: 100%;
		aspect-ratio: 16 / 9;
		display: block;
	}

	&--tags {
		padding-top: 12px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 8px;
		column-gap: 8px;

		> span.word {
			display: inline-block;
			height: 26px;
			background: $color1-lighter;
			border-radius: 4px;
		}
	}

	&--header {
		display: flex;
		flex-direction: row;
		column-gap: 16px;
		padding-top: 12px;
	}

	&--icon {
		width: 48px;
		height: 48px;
		border-radius: 10px;
		background-color: $color1;
	}

	&--title-cont {
		display: flex;
		flex: 1 1 0px;
		overflow: hidden;
		flex-direction: column;
	}

	&--title {
		flex: 1 1 0px;

		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 6px;
		column-gap: 1em;
		> span.word {
			display: inline-block;
			height: 22px;
			background: $color4-darker;
			border-radius: 4px;
		}
	}

	&--counters-top {
		display: none;
	}

	&--desc {
		padding-top: 18px;
		font-size: $font-size;
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 14px;
		column-gap: 1em;
		> span.word {
			display: block;
			height: 18px;
			background: $color1-lighter;
			border-radius: 4px;
		}
	}

	&--footer {
		align-items: flex-end;
		justify-content: space-between;
		flex: 1 1 0px;
		padding-top: 12px;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		gap: 12px;
	}

	&--counters {
		display: flex;
		flex-direction: row;
		column-gap: 24px;
		font-size: $font-size-small;
	}

	&--counter {
		line-height: $font-size-small;
	}

	&--count {
		display: inline-block;
		width: 6em;
		height: 10px;
		background: $color1-lighter;
		border-radius: 2px;
	}

	&--mobile {
		display: none;
	}

	&--dot {
		background: $color1-lighter;
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		top: -1px;
		position: relative;
		vertical-align: middle;
		margin-right: 10px;
	}
}

@media screen and (max-width: 1200px) {

	.realmlist-realm {
		&--footer  {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
		}

		&--signin {
			width: 100%;
		}
	}
}


@media screen and (max-width: 960px) {

	.realmlist-list {
		&--list {
			flex-direction: column;
			align-items: stretch;
		}

		&--realm {
			max-width: initial;
		}
	}

	.realmlist-realm {
		&--img, &--desktop {
			display: none;
		}

		&--cont {
			min-height: initial;
			cursor: pointer;
		}

		&--mobile {
			display: block;
		}

		&--content {
			padding: 0 12px 12px 12px;
		}

		&--header {
			padding-top: 0px;
		}

		&--title {
			font-size: 22px;
			line-height: 22px;
		}

		&--icon {
			width: 64px;
			height: 64px;
		}

		&--counters-top {
			flex: 0 0 auto;
			font-size: $font-size-tiny;
			display: flex;
			flex-direction: row;
			column-gap: 18px;
		}

		&--desc {
			padding-top: 8px;
		}

		&--counters {
			display: none;
		}

		&--footer  {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
		}

		&--signin {
			width: 100%;
		}

		// .realmlist-realm--caret {
		// 	position: absolute;
		// 	display: flex;
		// 	justify-content: center;
		// 	opacity: 0;
		// 	bottom: 0px;
		// 	width: 100%;
		// 	font-size: 24px;
		// 	transition: opacity 0.2s linear;
		// }

		// &:not(.active) {
		// 	.realmlist-realm--caret {
		// 		opacity: 1;
		// 	}
		// }

	}

	.realmlist-placeholderlist {
		flex-direction: column;
		align-items: stretch;

		&--realm {
			max-width: initial;
		}
	}

	.realmlist-placeholder {
		&--img, &--desktop {
			display: none;
		}

		&--mobile {
			display: block;
		}

		&--header {
			padding-top: 0px;
		}

		&--title {
			font-size: 22px;
			line-height: 22px;
		}

		&--icon {
			width: 64px;
			height: 64px;
		}

		&--counters-top {
			flex: 0 0 auto;
			font-size: $font-size-tiny;
			display: flex;
			flex-direction: row;
			column-gap: 18px;
		}

		&--counters {
			display: none;
		}

		&--footer  {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
		}

	}
}
