@import '~scss/variables';

.dialogunregisterpuppet {
	max-width: 380px;

	&--fullname {
		display: block;
		padding-bottom: 12px;
		font-family: $font-text;
		color: $theme-content-strong-fg;
		font-size: 20px;
	}
}
