@import '~scss/variables';

// .routetaskruns {}

.routetaskruns-taskrunbadge {
	&--icon.badge--faicon {
		color: $theme-surface-100-bg;
		background: $theme-control-secondary-bg-active;
		display: flex;
		align-items: center;
		justify-content: center;

		> .spinner:before {
			border-top-color: $theme-surface-100-bg;
		}
	}
	&--state- {
		// &queued {
		// 	&.badge--faicon {}
		// }
		&running {
			&.badge--faicon {
				background: $theme-status-info-bg;
			}
		}
		&success {
			&.badge--faicon {
				background: $theme-status-success-bg;
			}
		}
		&warning {
			&.badge--faicon {
				background: $theme-status-warning-bg;
			}
		}
		&error {
			&.badge--faicon {
				background: $theme-status-danger-bg;
			}
		}
	}
}

.routetaskruns-project {
	&--name {
		font-size: $font-size;
		line-height: 24px;
		color: $theme-content-strong-fg;
	}

	&--pagelistitem {
		padding: 3px 0;
	}

}

.routetaskruns-taskrun {
	&--name {
		font-size: $font-size;
		line-height: 24px;
		color: $theme-content-strong-fg;
	}

	&--info {
		padding-top: 12px;
	}

	&--error {
		padding-top: 6px;
		color: $theme-content-danger-fg;
	}

	&--steps {
		padding-top: 20px;
	}

	&--step {
		padding-bottom: 12px;
	}

	&--stepname {
		color: $theme-content-strong-fg;
		font-size: $font-size-small;
	}
	&--stepduration {
		font-size: $font-size-tiny;
	}
	&--stepsubtitle {
		display: block;
		color: $theme-content-accent-fg;
		font-size: $font-size-small;
		padding: 6px 0 2px 0;
	}
	&--steplog {
		display: block;
		font-style: normal;
		font-size: $font-size-tiny;
		font-family: $font-code;
		background: $theme-surface-100-bg;
		border-radius: 8px;
	}
	&--steplogtxt {
		white-space: pre;
	}
	&--stepsimplebar {
		padding: 4px 8px;
		max-height: 210px;
	}
}
