@import '~scss/variables';

.playersettingsplayername {

	&--name {
		color: $color3;
		font-size: $font-size;
	}

	&--name, &--username {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
