@import '~scss/variables';

.pageeditcharprofile {
	padding: 16px;
	margin: 0;

	&--tools {
		padding-bottom: 8px;

		&::after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
		}

		> * {
			display: inline-block;
		}
	}

	&--image {
		> svg {
			background-color: $theme-color-base-400;
			color: $theme-color-base-200;
		}
	}

	&--imagebtn {
		> .btn + .btn {
			margin-top: 8px;
		}
	}
}
