@import '~scss/variables';

.pageeditcharprofile {
	padding: 16px;
	margin: 0;

	&--image {
		> svg {
			background-color: $theme-svg-placeholder-200-bg;
			color: $theme-svg-placeholder-200-fg;
		}
	}

	&--imagebtn {
		> .btn + .btn {
			margin-top: 8px;
		}
	}
}
