@import '~scss/variables';
@import './pageEditRoomScript-theme';

.pageeditroomscript {
	padding: 16px;
	margin: 0;

	&--scriptid {
		display: block;
		color: $theme-content-strong-fg;
		font-family: $font-code;
	}

	&--postaddress {
		font-family: $font-code;
	}

	&--logscont {
		background: $theme-surface-200-bg;
		border-radius: 4px;
		padding: 4px 4px;
		height: 320px;
		position: relative;
	}

	&--logs {
		height: 100%;
	}

	&--loglist {
		padding: 4px 16px 4px 0px;
	}

	&--log {
		padding: 5px 6px;
	}

	&--logtime {
		display: block;
		font-size: $font-size-tiny;
		color: $theme-pageeditroomscript-time-fg;
		line-height: 1.2em;
	}

	&--logmsg {
		font-size: $font-size-small;
		white-space: pre-wrap;
		line-height: 1.25em;
	}

	&--log {
		&-log { color: $theme-pageeditroomscript-log-fg; }
		&-debug { color: $theme-pageeditroomscript-debug-fg; }
		&-info { color: $theme-pageeditroomscript-info-fg; }
		&-warn { color: $theme-pageeditroomscript-warn-fg; }
		&-error { color: $theme-pageeditroomscript-error-fg; }
	}
}
