@import '~scss/variables';

.mobilechartoggle {
	position: absolute;
	top: 8px;
	left: 12px;
	box-shadow: 0px 0px 8px 4px $theme-color-base-200;
	> svg {
		background-color: $theme-color-base-400;
		color: $theme-color-base-200;
	}
}
