@import '~scss/variables';

.mobilechartoggle {
	position: absolute;
	top: 8px;
	left: 12px;
	box-shadow: 0px 0px 8px 4px $theme-surface-200-bg;
	> svg {
		background-color: $theme-svg-placeholder-200-bg;
		color: $theme-svg-placeholder-200-fg;
	}
}
