@import '~scss/variables';


.cmd {
	// Tokens
	&--error { color: $theme-log-error-fg; }  // invalid
	&--listitem { color: $theme-log-listitem-fg; } // attributeValue
	&--text { color: $theme-log-text-fg; }  // string
	&--delim { color: $theme-log-delim-fg; } // operator
	&--cmd { color: $theme-log-cmd-fg; } // name
	&--attr { color: $theme-log-attr-fg; } // propertyName
	&--unknown { color: $theme-log-error-fg; } // comment
	&--entityid { color: $theme-log-entityid-fg; } // keyword
	&--listitem { color: $theme-log-listitem-fg; } // attributeValue
	&--ooc { color: $theme-log-cmd-ooc-fg; } // OOC text
	&--code {
		color: $theme-log-text-fg;
		font-family: $font-code;
	} // macroName

	// Formatted text
	&--format-header &--text {
		color: $theme-log-header-fg;
	}
	&--format-tableheader &--text {
		color: $theme-log-strong-fg;
	}
	&--format-formatter &--text, &--format-formatter &--ooc {
		color: $theme-log-formatter-fg;
	}
	&--format-codeformatter &--text, &--format-codeformatter &--ooc {
		font-family: $font-code;
		color: $theme-log-formatter-fg;
	}
	&--format-em {
		font-style: italic;
	}
	&--format-strong {
		font-weight: 700;
	}
	&--format-ooc &--text, &--format-ooc &--ooc {
		color: $theme-log-cmd-ooc-fg;
	}
	&--format-cmd &--text, &--format-cmd &--ooc {
		font-family: $font-code;
		color: $theme-log-cmd-fg;
	}
	&--format-strikethrough {
		text-decoration: line-through;
	}
	&--format-link &--text, &--format-link &--ooc {
		color: $theme-log-link-fg;
	}
	&--format-linkurl &--text, &--format-linkurl &--ooc {
		color: $theme-log-link-fg;
	}
	&--format-sup, &--format-sub {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	&--format-sup {
		top: -0.5em;
	}
	&--format-sub {
		bottom: -0.25em;
	}
}
