@import '~scss/variables';
@import '~scss/mixins';

.searchbar {
	position: relative;
	margin: 46px auto 0;
	align-items: center;
	width: 100%;
	max-width: 624px;

	&--input {

		background: $color1-light;
		padding: 18px 16px;
		border-radius: 14px;
		border: 1px solid $color1-lightest;
		color: $color4-lighter;
		padding-left: 64px;
		font-size: 16px;
		box-shadow: 0px 3px 6px #00000029;
	}

	&--btn {
		width: 48px;
		padding: 8px 0 9px;
		font-weight: bold;
		text-transform: uppercase;
		position: absolute;
		left: 6px;
		top: 6px;
		height: calc(100% - 12px);
		border-radius: 8px;
	}
}
