@import '~scss/variables';
@import '~scss/mixins';

.ev-helpCategory {
	@include log-pad(huge);
}

.ev-helpTopic {
	@include log-pad();
}

.help, .help-category {
	&--desc {
		p {
			@include log-pad();
		}
	}
}

.help-topic {
	&--title {
		display: block;
	}
	&--desc {
		margin-top: 6px;
	}
	&--examples {
		margin-top: 4px;
	}
}

