@import '~scss/variables';
@import '~scss/mixins';

.roompages-zoombar {
	padding: 0px 12px 8px 12px;
	display: flex;
	flex-direction: row;

	&--zoomin {
		flex: 0 0 auto;
		padding-right: 2px;
	}

	&--zoomout {
		flex: 0 0 auto;
		padding-left: 10px;
	}

	&--areas {
		flex: 1 1 0px;
		display: flex;
		flex-direction: row;

		> * {
			flex: 1 1 0px;
		}
	}

	&--area {
		padding: 11px 0 0 8px;
	}

	&--bar {
		height: 12px;
		background: $color4;
		border-radius: 3px;
		opacity: 0.6;
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}

		@include transition(background-color 200ms linear, opacity 200ms linear);

		&.current {
			opacity: 1;
			background: $color2;
			&:hover {
				opacity: 0.8;
				// background: darken($color2, 8%);
			}
		}
	}
}
