@import '~scss/variables';

.console {
	padding: 1px 14px 14px 14px;

	&--container {
		background-color: $color1-light;
		border-radius: 16px; // rounded corners
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	&--controlled {
		flex: 0 0 auto;
	}

	&--controlledlist {
		height: 42px;
		padding: 4px 12px 2px 12px;
		display: flex;
		flex-direction: row;
		border-bottom: 2px solid $color1;
	}

	&--editorcont {
		flex: 1 1 0px;
		padding: 5px 36px 6px 6px;
		position: relative;
	}

	&--historytools {
		position: absolute;
		right: 0;
		width: 32px;

		> * + * {
			margin-top: 4px;
		}
	}

	&--sendtools {
		position: absolute;
		right: 2px;
		width: 32px;

		> * + * {
			margin-top: 4px;
		}
	}

	&--main {
		position: relative;
	}

	&--editor {
		height: 92px;
		padding: 0 8px 0 4px;
	}

	&--counter > .counter {
		top: 0;
		right: 0;
	}


	.simplebar-scrollbar::before {
		background-color: lighten($color1, 18%);
	}

	&--touchonly {
		display: none;
	}

	&--toolbtnfull.iconbtn {
		height: 92px;
	}
}

.console.console--touch {
	.console--touchonly {
		display: inherit;
	}

	.console--historytools {
		left: 4px;
		right: inherit;
	}

	.console--editorcont {
		flex: 1 1 0px;
		padding: 5px 36px 6px 34px;
		position: relative;
	}
}

.console.console--layoutmobile {
	padding: 1px 0 0 0;

	.console--container {
		border-radius: 0;
	}

	.console-editor > .cm-editor .cm-content {
		min-height: 92px;
	}
}

.console-controlledchar {
	padding: 0 4px;
	transition: border-bottom 0.2s;
	border-bottom: 2px transparent;

	&.active {
		border-bottom: 2px solid $color5;
	}

	> .btn:focus {
		box-shadow: none;
	}

	&--counter {
		right: -6px;
	}

	&--avatar {
		display: inline-block;
		vertical-align: bottom;

		+ * {
			margin-left: 8px;
		}
	}

}

.console-editor {
	position: relative;

	&--placeholder {
		position: absolute;
		top: 5px;
		left: 3px;
		color: $color1-placeholder;
		display: none;
	}

	&.empty {
		.console-editor--placeholder {
			display: inherit;
		}
	}

	> .cm-editor {
		.cm-content {
			font-family: $font-text;
			caret-color: $color3;
			padding: 4px 0 0 0;
			min-height: 100px;
			// white-space: pre-line;
		}
		.cm-line {
			padding: 0 5px 0 3px;
			// word-break: break-word;
			line-height: 22px;
		}
	}
}
