@import '~scss/variables';

.cmdpattern {

	&--usage {
		font-family: $font-code;
		color: $theme-color-accent-300;
	}

	&--field {
		font-family: $font-code;
		color: $theme-log-listitem-fg;
	}

	&--opt {
		color: $theme-color-neutral-200;
	}
}
