@import '~scss/variables';

.cmdpattern {

	&--usage {
		font-family: $font-code;
		color: $color-accent;
	}

	&--field {
		font-family: $font-code;
		color: $log-listitem;
	}

	&--opt {
		color: $color-muted-dark;
	}
}
