@import '~scss/variables';

.cmdpattern {

	&--usage {
		font-family: $font-code;
		color: $theme-color-accent;
	}

	&--field {
		font-family: $font-code;
		color: $theme-log-listitem;
	}

	&--opt {
		color: $theme-color-muted-dark;
	}
}
