
.badge {
	width: 100%;
	border: none;
	background: $theme-badge-default-bg;
	color: $theme-badge-default-fg;
	padding: 4px;
	border-radius: 8px;

	&.highlight {
		background: $theme-badge-highlight-bg;
	}

	&.dark {
		background: $theme-badge-dark-bg;
		.badge--avatar {
			> svg {
				background-color: $theme-badge-dark-avatar-bg;
				color: $theme-badge-dark-avatar-fg;
			}
		}
	}

	&.inactive {
		opacity: 0.5;
		&.open {
			opacity: 0.8;
		}
	}

	&.tooltip {
		cursor: help;
	}

	&--select {
		display: flex;
		flex-direction: row;
	}

	&--select-gap {
		column-gap: 6px;
	}

	&--select-center {
		align-items: center;
	}

	&--select-margin {
		> * + * {
			margin-left: 4px;
		}
	}

	&--icon, &--faicon, &--avatar {
		flex: 0 0 auto;
		width: 32px;
		height: 32px;
	}

	&--avatar {
		> svg {
			background-color: $theme-badge-avatar-bg;
			color: $theme-badge-avatar-fg;
		}
	}

	&--symbol {
		font-size: $font-size-tiny;
		color: $theme-badge-symbol-fg;
		flex: 0 0 auto;
		align-self: center;
	}

	&--faicon {
		font-size: 22px;
		border-radius: 4px;
		> i {
			line-height: 32px;
		}
		transition: 0.2s color, 0.2s background-color;
		color: $theme-badge-icon-fg;
		background: $theme-badge-icon-bg;

		&.smallicon {
			font-size: 18px;
		}
	}

	&--faicontext {
		font-family: $font-text;
		font-weight: bold;
		line-height: 32px;
	}

	&--info-nopad {
		flex: 1 1 0px;
		text-align: left;
		overflow: hidden;
		line-height: 16px;
	}

	&--info {
		flex: 1 1 0px;
		text-align: left;
		overflow: hidden;
		padding-left: 6px;
		line-height: 16px;
	}

	&--info-morepad {
		flex: 1 1 0px;
		text-align: left;
		overflow: hidden;
		padding-left: 10px;
		line-height: 16px;
	}

	&--tools {
		flex: 0 0 auto;
		margin-left: 4px;
		> button {
			display: block;
		}
	}

	&--padright {
		padding-right: 6px;
	}

	&--counter {
		flex: 0 0 auto;
		padding-right: 6px;
		padding-left: 6px;
	}

	&--text, &--title, &--subtitle, &--strong, &--highlight, &--error {
		line-height: 16px;
		font-size: $font-size-tiny;
		text-align: left;
		white-space: normal;
		overflow: hidden;
		overflow-wrap: break-word;
	}

	&--nowrap {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&--text {
		color: $theme-badge-text-fg;
	}

	&--title {
		font-size: $font-size-tiny + 1px;
		color: $theme-badge-title-fg;
	}

	&--micro {
		font-size: $font-size-micro;
	}

	&--subtitle {
		color: $theme-badge-subtitle-fg;
	}

	&--strong {
		color: $theme-badge-strong-fg;
	}

	&--highlight {
		color: $theme-badge-highlight-fg;
	}

	&--error {
		color: $theme-badge-error-fg;
	}

	&--strikethrough {
		text-decoration: line-through;
	}

	&--margin {
		padding-top: 4px;
	}

	&--divider {
		margin-top: 6px;
		border-top: 1px solid $theme-badge-divider-border;
		padding-bottom: 4px;
	}

	&--iconcol {
		flex: 0 0 32px;
		white-space: nowrap;
		overflow: visible;
	}
}

.btn.badge {
	transition: 0.2s opacity, 0.2s background-color;
	cursor: pointer;

	&.tooltip {
		cursor: help;
	}

	&:disabled {
		opacity: 0.5;
	}

	&.inactive:hover:not(:disabled), &.inactive:focus:not(:disabled) {
		opacity: 0.7;
	}

	&.inactive.open:hover:not(:disabled), &.inactive.open:focus:not(:disabled) {
		opacity: 1;
	}

	&:not(:disabled) {
		&:hover, &:focus, &:active {
			background: $theme-badge-default-bg-hover;
			&.highlight {
				background: $theme-badge-highlight-bg-hover;
			}
			&.dark {
				background: $theme-badge-dark-bg-hover;
			}
		}
	}
}

.badge.large {
	padding: 6px;
	border-radius: 10px;

	.badge {

		&--icon, &--faicon {
			width: 48px;
			height: 48px;
		}

		&--faicon {
			font-size: 28px;
			> i {
				line-height: 47px;
			}
		}

		&--faicontext {
			line-height: 47px;
		}

		&--icon.small, &--faicon.small {
			height: 32px;
		}

		&--faicon.tiny {
			height: 12px;
			font-size: $font-size-tiny;
		}

		&--margin {
			padding-top: 6px;
		}

		&--iconcol {
			flex: 0 0 48px;
		}

		&--select-margin {
			> * + * {
				margin-left: 6px;
			}
		}

		&--select-gap {
			column-gap: 8px;
		}
	}
}
