body {
	font-variant-ligatures: none;
	font-family: $font-text;
	font-size: $font-size;
	color: $theme-content-default-fg;
	background-color: $theme-surface-200-bg;
	margin: 0;
	line-height: 125%;
}

* {
	box-sizing: border-box;
}

main {
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

a.link {
	color: $theme-link-default-fg;
	transition: color 0.2s;
	&:hover {
		color: $theme-link-default-fg-hover;
	}
}

i {
	font-style: italic;
}

button {
	font-family: $font-text;
}
