.common {
	&--placeholder {
		font-style: italic;
	}

	&--nolistplaceholder {
		display: block;
		padding: 8px 0;
		font-style: italic;
	}

	&--font-small {
		font-size: $font-size-small;
	}

	&--formmargin {
		margin-top: 6px;
		margin-bottom: 12px;
	}

	&--sectionpadding {
		padding-top: 2px;
		padding-bottom: 12px;
	}

	&--error {
		color: $theme-content-error-fg;
		font-size: 90%;
	}

	&--paneltextarea {
		display: block;
		height: 240px;
		resize: vertical;
	}

	&--paneltextarea-small {
		display: block;
		height: 82px;
		resize: vertical;
	}

	&--paneltextarea-smallfont {
		font-size: $font-size-small;
	}

	&--desc-size {
		font-size: 15px;
	}

	&--formattext {
		h1 {
			line-height: 1.25;
			font-size: $font-size-large;
			font-family: $font-text;
			font-weight: normal;
			color: $theme-content-accent-fg;
			margin: 1em 0 0.5em 0;
		}

		h2 {
			line-height: 1.25;
			font-size: $font-size;
			font-family: $font-text;
			font-weight: normal;
			color: $theme-content-accent-fg;
			margin: 1em 0 0.5em 0;
		}

		h3 {
			line-height: 1.25;
			font-size: $font-size-small;
			font-family: $font-text;
			font-weight: normal;
			color: $theme-content-accent-fg;
			margin: 1em 0 0.5em 0;
		}

		span.ooc {
			color: $theme-log-ooc-fg;
		}
		span.cmd {
			font-family: $font-code;
			color: $theme-log-cmd-fg;
		}
		a {
			color: $theme-link-default-fg;
			transition: color 0.2s;
			&:hover {
				color: $theme-link-default-fg-hover;
			}
			&:active {
				color: $theme-link-default-fg-active;
			}
		}
		sup, sub {
			font-size: 75%;
			line-height: 0;
			position: relative;
			vertical-align: baseline;
		}
		sup {
			top: -0.5em;
		}
		sub {
			bottom: -0.25em;
		}
		span.err {
			color: $theme-log-error-fg;
		}
		table {
			margin: 8px 0 12px 0;
			th {
				color: $theme-content-strong-fg;
			}
			th, td {
				// padding: 1px 8px 1px 0;
				padding: 3px 12px 3px 0;
				text-align: left;
			}
			th:last-child, td:last-child {
				padding-right: 0px;
			}
		}
		thead {
			border-bottom: 1px solid $theme-divider-strong-border;
		}
		span.nobr {
			white-space: nowrap;
		}
		div.codeblock {
			font-family: $font-code;
			font-style: normal;
			font-size: $font-size-small;
			color: $theme-log-code-fg;
			padding: 6px 10px;
			background: $theme-log-code-bg;
			border-radius: 8px;
			margin: 0.5em 0 0.25em 0;
		}
	}


	&--formsubsection {
		padding: 1px 0px 1px 10px;
	}

	&--durationinput {
		transition: 0.2s color;
		&.invalid {
			color: $theme-content-default-fg;
		}
	}

	&--level {
		&-asleep {
			color: $theme-idlelevel-asleep-fg;
		}
		&-active {
			color: $theme-idlelevel-active-fg;
		}
		&-idle {
			color: $theme-idlelevel-idle-fg;
		}
		&-inactive {
			color: $theme-idlelevel-away-fg;
		}
		&-bot {
			color: $theme-idlelevel-bot-fg;
		}
	}

	&--nowrap {
		white-space: nowrap;
	}

	&--pre-wrap {
		white-space: pre-wrap;
	}

	&--addpadding {
		padding: 12px 0;
	}

	&--btnwidth {
		min-width: 128px;
	}

	&--btnwidth-large {
		min-width: 200px;
	}

	&--itemtitle {
		font-family: $font-text;
		color: $theme-content-strong-fg;
		font-size: $font-size-large;
	}

	&--relative {
		position: relative;
	}

	&--hr {
		display: block;
		padding-bottom: 20px;
		margin-bottom: 16px;
		border-bottom: 1px solid $theme-divider-accent-border;
	}

	&--tooltip {
		cursor: help;
	}
}
