.counter, .counter-standalone {
	pointer-events: none;
	background: $theme-control-secondary-bg;
	color: $theme-control-danger-fg;
	height: 16px;
	min-width: 16px;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	border-radius: 8px;
	padding: 2px;
	transition: 0.2s opacity, 0.2s background-color;
	text-align: center;

	&.inline {
		display: inline-block;
		margin-right: 8px;
	}

	&.withtitle {
		pointer-events: initial;
		cursor: help;
	}

	&.hide {
		opacity: 0;
		&.withtitle {
			pointer-events: none;
			cursor: inherit;
		}
	}

	&.remove {
		display: none;
	}

	&.alert {
		background: $theme-status-danger-bg;
	}

	&.highlight {
		background: $theme-status-info-bg;
	}

	&.notice {
		background: $theme-status-warning-bg;
	}

	&.small {
		height: 8px;
		min-width: 8px;
		border-radius: 4px;
		top: 0px;
		right: 0px;
	}
}

.counter {
	position: absolute;
	top: -3px;
	right: -3px;
}

.counter-container {
	position: absolute;
	top: 4px;
	right: 4px;
	display: flex;
	flex-direction: row;
	column-gap: 4px;
	pointer-events: none;

	> .counter {
		position: static;
		flex: 0 0 auto;
	}
}

