
input, textarea, .input--textarea {
	background: $theme-color-base-lightest;
	font-size: $font-size;
	font-family: $font-text;
	border: none;
	padding: 8px;
	border-radius: 4px;
	color: $theme-color-contrast;
	width: 100%;

	&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: $theme-color-base-placeholder-light;
		opacity: 1; /* Firefox */
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $theme-color-base-placeholder-light;
	}
	&::-ms-input-placeholder { /* Microsoft Edge */
		color: $theme-color-base-placeholder-light;
	}
}

input, textarea {
	&:focus {
		outline: 0;
		box-shadow: 0 0 4px 1px $theme-color-accent;
	}
}

.input--incomplete {
	color: $theme-color-muted-light;
}

input[type='text'], textarea {
	-webkit-appearance: none; // make iOS inputs pretty
}

input.autocomplete {
	&:autofill,
	&:autofill:hover,
	&:autofill:focus,
	&:autofill:active {
		font-size: $font-size;
		color: $theme-log-bot !important;
		background: $theme-color-base-lightest !important;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-text-fill-color: $theme-log-bot;
		-webkit-box-shadow: 0 0 0 32px $theme-color-base-lightest inset !important;
		transition: background-color 5000s ease-in-out 0s;
		border-radius: 4px !important;
	}
	&:-webkit-autofill::first-line {
		// font-size: $font-size !important;
		font-family: $font-text !important;
	}
}
