kbd {
	display: inline-block;
	margin: 0 .1em;
	padding: .08em .5em;
	font-family: $font-text;
	font-size: 11px;
	color: $theme-kbd-fg;
	text-shadow: 0 1px 0 $theme-kbd-text-shadow;
	background-color: $theme-kbd-bg;
	border: 1px solid $theme-kbd-border;
	border-radius: 3px;
	box-shadow: 0 1px 1px $theme-kbd-shadow, inset 0 1px 0 0 $theme-kbd-highlight;
	overflow-wrap: break-word;
}
