/* Transition */
@mixin transition($args...) {
	-webkit-transition: $args;
	-ms-transition: $args;
	transition: $args;
}

//-------------------------------------------------------------------
// Mixin to set btn background for inactive, active & hover states
//-------------------------------------------------------------------

// set default variables to be base button colors.
@mixin btn-style (
	$bg:               $theme-control-default-300-bg,
	$bg-hover:         $theme-control-default-300-bg-hover,
	$bg-active:        $theme-control-default-300-bg-active,
	$text-color:       $theme-control-default-300-fg,
	$text-color-hover: $theme-control-default-300-fg-hover
) {
	background: $bg;
	color: $text-color;
	& > svg {
		fill: $text-color;
	}

	&:not(:disabled) {
		&:hover {
			background: $bg-hover;
			color: $text-color-hover;
			& > svg {
				fill: $text-color-hover;
			}
		}

		&:active, &:focus {
			background: $bg-active;
			color: $text-color;
			& > svg {
				fill: $text-color;
			}
		}
	}
}

@mixin log-pad (
	$size: medium
) {
	margin: 0;
	@if $size == small {
		padding: 4px 0 2px 0;
	} @else if $size == medium {
		padding: 6px 0 3px 0;
	} @else if $size == large {
		padding: 12px 0 6px 0;
	} @else if $size == huge {
		padding: 20px 0 10px 0;
	}
}
