@import '~scss/variables';
@import '~scss/hubvariables';
@import '~scss/mixins';


.routepayments {
	&--product {
		font-family: $font-text;
		color: $color-contrast-300;
		font-size: $font-size-large;
	}

	&--cost, &--amountrefunded {
		font-size: $font-size;
		color: $color-contrast-300;
	}

	&--unit {
		color: $color-neutral-300;
	}

	&--description, &--recurrenceinfo, &--statusdescription, &--thanks {
		font-size: $font-size-small;
	}

	&--features {
		margin-bottom: 12px;
	}

	&--featuretitle {
		font-size: $font-size-small;
		color: $color-accent-300;
	}

	&--featuredesc {
		font-size: $font-size-small;
	}

	&--cardpayment {
		margin-top: 20px;
	}

	&--placeholder {
		font-style: italic;
	}
}

.routepayments-payments {
	&--listitem {
		padding: 3px 0;
	}
}

.routepayments-paymentbadge {
	&.method-card {
		.badge--faicon {
			background: $color-action-300;
			color: $color-base-300;
		}
		&:hover {
			.badge--faicon {
				background: darken($color-action, 8%);
				color: darken($color-base-300, 8%);
			}
		}
	}
	&.method-paypal {
		.badge--faicon {
			background: $color-paypal;
			color: $white;
		}
		&:hover, &:active {
			.badge--faicon {
				background: darken($color-paypal, 8%);
				color: darken($white, 8%);
			}
		}
	}
	&.refunded, &.canceled{
		.badge--faicon {
			// background: $color-success;
			background: $color-danger-300;
			color: $color-base-300;
		}
		&:hover, &:active {
			.badge--faicon {
				// background: darken($color-success, 8%);
				background: darken($color-danger, 8%);
				color: darken($color-base-300, 8%);
			}
		}
	}
	&--title {
		line-height: 26px;
		font-size: $font-size;
	}

	&--info {
		line-height: 20px;
		font-size: $font-size-small;
	}

	&--date {
		color: $color-neutral-300;
		line-height: 20px;
		font-size: $font-size-small;
	}

	&--cost, &--refundednew {
		color: $color-contrast-300;
	}

	&--refundedcost {
		color: $color-danger-300;
		text-decoration: line-through;
	}
}

.routepayments-paymentbadgecontent {
	&--details {
		position: absolute;
		right: 6px;
		bottom: 6px;
		font-size: $font-size-small;
	}
}


.routepayments-payment {
	&--cost, &--refundednew {
		color: $color-contrast-300;
	}

	&--refundedcost {
		color: $color-danger-300;
		text-decoration: line-through;
	}

	&--refundedtotal {
		font-size: $font-size-small;
	}
}
