@import '~scss/variables';
@import '~scss/hubvariables';
@import '~scss/mixins';


.routepayments {
	&--product {
		font-family: $font-text;
		color: $theme-content-strong-fg;
		font-size: $font-size-large;
	}

	&--cost, &--amountrefunded {
		font-size: $font-size;
		color: $theme-content-strong-fg;
	}

	&--unit {
		color: $theme-content-default-fg;
	}

	&--description, &--recurrenceinfo, &--statusdescription, &--thanks {
		font-size: $font-size-small;
	}

	&--features {
		margin-bottom: 12px;
	}

	&--featuretitle {
		font-size: $font-size-small;
		color: $theme-content-accent-fg;
	}

	&--featuredesc {
		font-size: $font-size-small;
	}

	&--cardpayment {
		margin-top: 20px;
	}

	&--placeholder {
		font-style: italic;
	}
}

.routepayments-payments {
	&--listitem {
		padding: 3px 0;
	}
}

.routepayments-paymentbadge {
	&.method-card {
		.badge--faicon {
			background: $theme-status-info-bg;
			color: $theme-control-primary-fg;
		}
		&:hover {
			.badge--faicon {
				background: $theme-control-primary-bg-hover;
				color: $theme-surface-100-bg;
			}
		}
	}
	&.method-paypal {
		.badge--faicon {
			background: $color-paypal;
			color: $white;
		}
		&:hover, &:active {
			.badge--faicon {
				background: darken($color-paypal, 8%);
				color: darken($white, 8%);
			}
		}
	}
	&.refunded, &.canceled{
		.badge--faicon {
			background: $theme-status-danger-bg;
			color: $theme-control-primary-fg;
		}
		&:hover, &:active {
			.badge--faicon {
				background: $theme-control-danger-bg-hover;
				color: $theme-surface-100-bg;
			}
		}
	}
	&--title {
		line-height: 26px;
		font-size: $font-size;
	}

	&--info {
		line-height: 20px;
		font-size: $font-size-small;
	}

	&--date {
		color: $theme-content-default-fg;
		line-height: 20px;
		font-size: $font-size-small;
	}

	&--cost, &--refundednew {
		color: $theme-content-strong-fg;
	}

	&--refundedcost {
		color: $theme-content-danger-fg;
		text-decoration: line-through;
	}
}

.routepayments-paymentbadgecontent {
	&--details {
		position: absolute;
		right: 6px;
		bottom: 6px;
		font-size: $font-size-small;
	}
}


.routepayments-payment {
	&--cost, &--refundednew {
		color: $theme-content-strong-fg;
	}

	&--refundedcost {
		color: $theme-content-danger-fg;
		text-decoration: line-through;
	}

	&--refundedtotal {
		font-size: $font-size-small;
	}
}
