@import '~scss/variables';
@import '~scss/mixins';

.realmsettingstheme {
	&--theme {
		position: relative;
	}

	&--tokens {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&--token {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&--tokeninfo {
		flex: 1 1 auto;
		min-width: 0;
	}

	&--tokenname {
		color: $color-contrast-300;
	}

	&--tokendesc {
		font-size: $font-size-small;
		color: $color-neutral-300;
	}

	&--tokencolor {
		flex: 0 0 auto;
		width: 32px;
		height: 32px;
		border: 1px solid $color-neutral-300;
		border-radius: 4px;
		background: $color-base-200;
	}

	&--unsaved {
		font-size: $font-size-small;
		row-gap: 8px;
		column-gap: 16px;
	}

	&--warn {
		color: $theme-content-danger-fg;
	}

}

@media screen and (max-width: 720px) {
	.realmsettingstheme {
		&--tokendesc {
			display: none;
		}
	}
}
