@import '~scss/variables';

body {
	overflow-x: hidden;
	overflow-y: auto;
}


.policy {

	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
	width: 100vw;

	&--container {
		width: 90%;
		max-width: 800px;
		padding: 14px 0;
	}

	&--head {
		padding-bottom: 14px;
		margin-bottom: 12px;
		border-bottom: 1px solid $color2;
		h2 {
			margin: 0;
			padding: 8px 16px 8px 0;
		}
	}

	&--subtitle {
		display: block;
		margin: 12px 0;
		font-size: $font-size-small;
		font-style: italic;
	}

	&--body {
		h2 {
			margin: 20px 0 8px 0;
		}

		ul {
			list-style-position: outside;
			list-style-type: disc;
			margin: 10px 0 10px 2em;
		}

		li {
			margin: 8px 0;
		}
	}
}
