@import '~scss/variables';@import '~scss/mixins';

.pagecustomtheme {
	position: relative;
	padding: 16px 14px; // 16px 14px 84px 14px;

	&--footer {
		// Attempt att having the button fixed at the bottom

		// width: 100%;
		// background: $theme-surface-400-bg;
		// position: fixed;
		// bottom: 49px;
		// padding:8px 14px;
		// right: 0;
	}
}

.pagecustomtheme-color {
	padding: 2px 0;

	&--tokenkey {
		font-family: $font-code;
		@include transition(color 0.5s);
	}

	&.isset &--tokenkey {
		color: $theme-badge-strong-fg;
	}

	&--dot {
		margin-left: 2px;
		background: $theme-status-inactive-bg;
		align-self: center;
		width: 16px;
		height: 16px;
		border-radius: 3px;
		vertical-align: middle;
		border: 1px solid $color-neutral-300;
	}

	&--content {
		overflow: hidden;
	}

	&--input {
		padding: 2px 2px;
	}
}
