@import '~scss/variables';@import '~scss/mixins';

.pagecustomtheme {
	padding: 16px 14px;
}

.pagecustomtheme-color {
	padding: 2px 0;

	&--tokenkey {
		font-family: $font-code;
		@include transition(color 0.5s);
	}

	&.isset &--tokenkey {
		color: $theme-badge-strong-fg;
	}

	&--dot {
		margin-left: 2px;
		background: $theme-status-inactive-bg;
		align-self: center;
		width: 16px;
		height: 16px;
		border-radius: 3px;
		vertical-align: middle;
		border: 1px solid $color-neutral-300;
	}

	&--content {
		overflow: hidden;
	}

	&--input {
		padding: 2px 2px;
	}
}
