@import '~scss/variables';

// Autocomplete colors
$autocomplete-hover-background: lighten($color-action, 20%);
$autocomplete-selected-background: lighten($color-action, 30%);
// Autocomplete theme vars
$theme-autocomplete-hover-background: var(--mu-autocomplete-hover-background, #{$autocomplete-hover-background});
$theme-autocomplete-selected-background: var(--mu-autocomplete-selected-background, #{$autocomplete-selected-background});

.autocomplete {
	color: $theme-color-muted-darker;
	background: white;
	z-index: 1000;
	font-size: $font-size;
	line-height: 32px;
	font-family: $font-text;
	overflow: auto;
	box-sizing: border-box;
	border: 1px solid rgba(50, 50, 50, 0.6);
	border-radius: 4px;
	padding-bottom: 4px;

	 * {
		font: inherit;
	}

	 > div {
		padding: 0 14px;
	}

	> div > em {
		font-weight: bold;
		color: $black;
	}

	.group {
		background: #eee;
	}

	> div:hover:not(.group) {
		background: $theme-autocomplete-hover-background;
	}

	> div.selected {
		background: $theme-autocomplete-selected-background;
		cursor: pointer;
	}
}

.autocomplete.autocomplete-dark {
	color: $theme-color-muted;
	background: $black;
	border: 1px solid $theme-color-accent;

	> div > em {
		font-weight: bold;
		color: $white;
	}

	.group {
		background: $theme-color-base-dark;
	}

	> div:hover:not(.group) {
		background: $theme-color-base;
	}

	> div.selected {
		background: $theme-color-base-light;
		&:hover {
			background: $theme-color-base-lighter;
		}
	}
}
