@import '~scss/variables';

.autocomplete {
	color: $theme-content-default-fg;
	background: $theme-surface-100-bg;
	border: 1px solid $theme-color-accent-300;
	z-index: 1000;
	font-size: $font-size;
	line-height: 32px;
	font-family: $font-text;
	overflow: auto;
	box-sizing: border-box;
	border-radius: 4px;
	padding-bottom: 4px;

	 * {
		font: inherit;
	}

	> div {
		padding: 0 14px;
	}

	> div > em {
		font-weight: normal;
		color: $theme-content-strong-fg;
	}

	.group {
		background: $theme-surface-200-bg;
	}

	> div:hover:not(.group) {
		background: $theme-surface-300-bg;
	}

	> div.selected {
		background: $theme-surface-400-bg;
		cursor: pointer;
		&:hover {
			background: $theme-surface-500-bg;
		}
	}
}
