@import '~scss/variables';

.formattxt {
	&--section {
		padding-top: 2px;

		> .panelsection--head {
			padding-bottom: 4px;
			h3 {
				line-height: 1.5;
				margin: 0;
			}
			.panelsection--caret {
				bottom: 9px;
				// color: $color4-light;
			}
		}
	}

	&--sectioncontent {
		padding: 2px 0px 10px 12px;
	}

}

.formattxt.formattxt-charlog {
	font-size: $font-size-small;
	.common--sectionpadding {
		padding: 6px 0 6px 0;
	}

	.formattxt--section {
		padding-top: 2px;

		> .panelsection--head {
			padding-bottom: 0;
			.panelsection--caret {
				color: $color2;
			}
		}
	}

	&--sectioncontent {
		padding: 2px 0px 10px 12px;
	}
}
