@import '~scss/variables';
@import '~scss/mixins';

.kebabmenu {

	position: relative;

	&--menu {
		position: absolute;
		background: $theme-color-base-400;
		min-width: 100px;
		// min-height: 100px;
		box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.65);
		padding: 8px 0;
		// Animation
		animation-name: kebabmenu-opacity;
		animation-duration: 0.3s;
		opacity: 1;
		z-index: 50;

		&-absolute {
			animation-name: kebabmenu-opacity;
			transform: translate(-100%, 0px);
		}
	}

	&--itemicon {
		min-width: 20px;
	}
}

@keyframes kebabmenu-opacity {
	from {
		transform: scale(0.9);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes kebabmenu-opacity-absolute {
	from {
		transform: translate(-100%, 0px) scale(0.9);
		opacity: 0;
	}
	to {
		transform: translate(-100%, 0px) scale(1);
		opacity: 1;
	}
}
