@import '~scss/variables';

.navbuttons {

	svg.shadow {
		filter: drop-shadow(0px 0px 8px $color1);
	}

	text {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&--count {
		font-family: $font-text;
		font-size: $font-size-small;
		fill: $color4-light;
		fill-opacity: 0;
	}

	&--icon {
		font-family:'FontAwesome';
		fill: $color4-light;
		fill-opacity: 0;
	}

	&--muicon {
		font-family: 'muicon';
	}

	&--btn {
		fill: $color1-lightest;

		&:not(.disabled) {
			cursor: pointer;
			&:hover {
				fill: lighten($color1-lightest, 5%);
				.navbuttons--icon {
					fill:$color4-lighter;
				}
			}

			&.selected {
				fill: $color6;
				.navbuttons--icon {
					fill: $color1-light;
				}
				&:not(.disabled):hover {
					fill: $color6-hover;
					.navbuttons--icon {
						fill: $color1-lighter;
					}
				}
			}
		}
		&.selected:not(.disabled) {
			&:hover {
				fill: lighten($color1-lightest, 5%);
				.navbuttons--icon {
					fill: $color4-lighter;
				}
			}
		}
		&.disabled {
			fill-opacity: 0.35;
		}
		&.n .navbuttons--icon.n {
			fill-opacity: 1;
		}
		&.ne .navbuttons--icon.ne {
			fill-opacity: 1;
		}
		&.e .navbuttons--icon.e {
			fill-opacity: 1;
		}
		&.se .navbuttons--icon.se {
			fill-opacity: 1;
		}
		&.s .navbuttons--icon.s {
			fill-opacity: 1;
		}
		&.sw .navbuttons--icon.sw {
			fill-opacity: 1;
		}
		&.w .navbuttons--icon.w {
			fill-opacity: 1;
		}
		&.nw .navbuttons--icon.nw {
			fill-opacity: 1;
		}
		&.up .navbuttons--icon.up {
			fill-opacity: 1;
		}
		&.down .navbuttons--icon.down {
			fill-opacity: 1;
		}
		&.in .navbuttons--icon.in {
			fill-opacity: 1;
		}
		&.out .navbuttons--icon.out {
			fill-opacity: 1;
		}

		&.count-1 .navbuttons--count.count-1 {
			fill-opacity: 1;
		}
		&.count-2 .navbuttons--count.count-2 {
			fill-opacity: 1;
		}
		&.count-3 .navbuttons--count.count-3 {
			fill-opacity: 1;
		}
		&.count-4 .navbuttons--count.count-4 {
			fill-opacity: 1;
		}
		&.count-5 .navbuttons--count.count-5 {
			fill-opacity: 1;
		}
		&.count-6 .navbuttons--count.count-6 {
			fill-opacity: 1;
		}
		&.count-7 .navbuttons--count.count-7 {
			fill-opacity: 1;
		}
		&.count-8 .navbuttons--count.count-8 {
			fill-opacity: 1;
		}
		&.count-9 .navbuttons--count.count-9 {
			fill-opacity: 1;
		}
		&.count-10 .navbuttons--count.count-10 {
			fill-opacity: 1;
		}
	}
}
