@import '~scss/variables';
@import '~scss/mixins';

.passwordinput {
	position: relative;

	> input {
		padding-right: 38px;
	}

	&--eye.iconbtn {
		@include btn-style(none, $color-base-lighter, $color-base-lightest, $color-muted-light, $color-muted-lighter);
		position: absolute;
		right: 3px;
		top: 3px;
	}
}

.passwordinput.darkeye {
	.passwordinput--eye.iconbtn {
		@include btn-style(none, $color-muted, $color-muted, $color-base-lighter, $color-base-light);
	}
}
