@import '~scss/variables';
@import '~scss/mixins';

$popuptip-background: #{'rgba(3,4,6,90%)'};

.popuppill {
	&--pill {
		width: 20px;
		border-radius: 3px;
		border: solid 4px $color4;
	}

	&--tip {
		position: absolute;
		background: $popuptip-background;
		padding: 8px 14px 14px 8px;
		left: 16px;
		right: 16px;
		transform: translateY(-100%) translateY(-18px);
		border-radius: 4px;
		display: inline-block;

	}
	&--caret {
		position: absolute;

		margin-left: 5px;
		margin-top: -18px;
		border-width: 5px;
		border-style: solid;
		border-color: $popuptip-background transparent transparent transparent;

	}
}

.popuppill--style- {
	&dark {
		opacity: 50%;
	}

	&border {
		border-width: 1px 1px 1px 5px;
		height: 8px;
	}

	&channelborder {
		border-color: $color6;
		border-width: 1px 1px 1px 5px;
		height: 8px;
	}
}
