@import '~scss/variables';
@import '~scss/mixins';

.realmtagslist {

	&--list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 8px;
		column-gap: 8px;
	}

	&--item {
		flex: 0 0 auto;
	}

	&--tag {
		position: relative;
		line-height: 16px;
		font-size: $font-size-small;
		text-align: left;
		white-space: nowrap;
		padding: 4px 16px 4px 13px;
		color: $color4;
		border: 1px solid $color4;
		border-radius: 4px;
		border-left: 15px solid;

		&::before {
			font-family: FontAwesome;
			font-style: normal;
			position: absolute;
			color: $color1;
			left: -12px;
			font-size: 10px;
		}

		&.realmtagslist--type-genre {
			color: $color6;
			border-color: $color6;
			&::before {
				content: "\f132";
				left: -11px;
			}
		}
		&.realmtagslist--type-theme {
			&::before {
				content: "\f02b";
			}
		}
		&.realmtagslist--type-warn {
			color: $color5;
			border-color: $color5;
			&::before {
				content: "\f071";
			}
		}
	}

	&--delete {
		position: relative;
		right: -8px;
		top: -1px;
		margin: -1px -6px -1px 2px;
		text-decoration: none;
		border: 0;
		padding: 0;
		border-radius: 2px;
		transition: border-color 0.2s, color 0.2s, background-color 0.2s, opacity 0.4s;
		cursor: pointer;
		font-size: 12px;
		width: 17px;
		height: 17px;
		text-align: center;
		@include btn-style(none, $color1-lightest, $color1-lightest, $color4, $color4-light);
		> i {
			line-height: 15px;
		}
	}
}
