@import '~scss/variables';

.screendialog {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: var(--100vvh, 100vh);
	width: 100%;
	padding: 16px 0;
	box-sizing: border-box;
	overflow-y: auto;

	&--container {
		width: 88%;
		max-width: 280px;
		padding: 14px 0;
		margin: auto 0;

		&.medium {
			max-width: 380px;
		}

		&.wide {
			max-width: 800px;
		}
	}

	&--head {
		padding-bottom: 14px;
		margin-bottom: 12px;
		border-bottom: 1px solid $color-accent;
		h2 {
			margin: 0;
			padding: 8px 16px 8px 0;
		}
	}

	&--close.iconbtn {
		float: right;
		background: $color-base-light;
	}
}
