@import '~scss/variables';



@keyframes spinnermodal-anim {
	to {transform: rotate(360deg);}
}

.spinnermodal {
	position:absolute;
	z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 40%);

	&--cont {
		position: absolute;
		left: 50%;
		top: 50%;
	}

	&--spinner {
		&:before {
			content: '';
			box-sizing: border-box;
			position: absolute;
			width: 120px;
			height: 120px;
			margin-top: -60px;
			margin-left: -60px;
			border-radius: 50%;
			border-top: 4px solid $color5;
			border-right: 4px solid transparent;
			animation: spinnermodal-anim 1s linear infinite;
		}
	}
}
