@import '~scss/variables';
@import './togglebox-theme';

.togglebox {
	display: inline-block;
	border: 4px solid $theme-color-neutral-300;
	background: transparent;
	border-radius: 3px;
	padding: 0;
	> div {
		width: 14px;
		height: 14px;
	}

	&.small {
		border-width: 3px;
		border-radius: 2px;
		> div {
			width: 10px;
			height: 10px;
		}
	}

	&:not(:disabled) {
		cursor: pointer;
	}
}

.togglebox.form + * {
	margin-left: 16px;
}

.togglebox.value-1 > div {
	background: $theme-color-action-300;
	&:hover:not(:disabled) {
		background: $theme-togglebox-action-hover;
	}
}

.togglebox.value-2 > div {
	background: $theme-color-danger-300;
	&:hover:not(:disabled) {
		background: $theme-togglebox-danger-hover;
	}
}
