@import '~scss/variables';

// Togglebox colors
$togglebox-action-hover: lighten($color-action, 5%);
$togglebox-danger-hover: lighten($color-danger, 5%);
// Togglebox theme vars
$theme-togglebox-action-hover: var(--mu-togglebox-action-hover, #{$togglebox-action-hover});
$theme-togglebox-danger-hover: var(--mu-togglebox-danger-hover, #{$togglebox-danger-hover});

.togglebox {
	display: inline-block;
	border: 4px solid $theme-color-muted;
	background: transparent;
	border-radius: 3px;
	padding: 0;
	> div {
		width: 14px;
		height: 14px;
	}

	&.small {
		border-width: 3px;
		border-radius: 2px;
		> div {
			width: 10px;
			height: 10px;
		}
	}

	&:not(:disabled) {
		cursor: pointer;
	}
}

.togglebox.form + * {
	margin-left: 16px;
}

.togglebox.value-1 > div {
	background: $theme-color-action;
	&:hover:not(:disabled) {
		background: $theme-togglebox-action-hover;
	}
}

.togglebox.value-2 > div {
	background: $theme-color-danger;
	&:hover:not(:disabled) {
		background: $theme-togglebox-danger-hover;
	}
}
