@import '~scss/variables';

// Overlay nav colors
$overlaynav-badge-background-hover: lighten($color-base-lighter, 3%);
// Overlay nav theme vars
$theme-overlaynav-badge-background-hover: var(--mu-overlaynav-badge-background-hover, #{$overlaynav-badge-background-hover});

.overlaynav {
	position: absolute;
	top: 9px;
	right: 14px;

	&--name {
		line-height: 20px;
	}

	&--badge {
		padding-right: 4px;
	}

	&--badge > .btn.badge, &--toggle.iconbtn {
		box-shadow: 0px 0px 8px 4px $theme-color-base;
		height: 28px;
		background: $theme-color-base-lighter;
		&:not(:disabled) {
			&:hover, &:focus, &:active {
				background: $theme-overlaynav-badge-background-hover;
			}
		}
	}

	&--badgecont {
		width: 222px;
		overflow: hidden;
	}

	&--counter {
		flex: 0 0 auto;
		padding-right: 6px;
		padding-left: 6px;
	}

	&--content {
		position: absolute;
		top: 34px;
		right: 0px;
	}

	&--toggle.iconbtn {
		border-radius: 8px;
		> i {
			line-height: 19px;
		}
	}
}

.overlaynav.mobile {
	top: 8px;
	right: 12px;
}

.overlaynav-area {
	padding-left: 4px;
	&--map {
		box-shadow: 0px 0px 8px 4px $theme-color-base;
	}
}

.overlaynav-buttons {
	padding: 2px 2px 0 0;

	&--tooltip {
		width: 262px;
		display: flex;
		right: 0;
		left: auto;
	}

	&--tooltip-hidescroll {
		padding: 0 10px;
		width: 100%;
		max-height: 100%;
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
		scrollbar-width: none;  /* Firefox */
		overflow: auto;
		&::-webkit-scrollbar {
			display: none;  /* Safari and Chrome */
		}
	}

	&--tooltip-bar {
		width: 100%;
		max-height: 100%;
	}

	&--tooltip-list {
		padding: 0 10px;
	}
}
