@import '~scss/variables';
@import '~scss/mixins';

// Page awake colors
$pageawake-char-status: mix($color-neutral, $color-accent, 20%);
// Page awake theme vars
$theme-pageawake-char-status: var(--mu-pageawake-char-status, #{$pageawake-char-status});

.pageawake {
	padding: 14px 14px 16px 14px;

	&--tools {
		display: flex;
		padding-bottom: 8px;

		&::after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
		}

		> * {
			display: inline-block;
		}
	}

	&--awakeheader {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&--awaketools {
		margin-left: 12px;
	}

	&--watched {
		padding-bottom: 4px;
	}

	&--showall {
		transition: color 0.2s, background-color 0.2s, opacity 0.4s;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;

		&:hover, &:focus {
			.pageawake--showall-line {
				background: $theme-color-neutral-500;
			}
			.pageawake--showall-icon {
				color: $theme-color-neutral-500;
			}
		}
	}
	&--showall-line {
		flex: 1 1 0px;
		height: 1px;
		margin-right: 4px;
		margin-bottom: 1px; // aligning with icon
		background: $theme-color-neutral-300;
		transition: background-color 0.2s;
	}
	&--showall-icon {
		color: $theme-color-neutral-300;
		flex: 0 0 auto;
		transition: color 0.2s;
	}

	&--unwatched {
		padding-top: 4px;
		// border-top: 1px solid $theme-color-accent-300;
		// > *:first-child {
		// 	padding-top: 4px;
		// 	border-top: 1px solid $theme-color-accent-300;
		// }
	}

	&--filter {
		position: relative;

		> input {
			padding-right: 38px;
		}
	}

	&--filter-clear.iconbtn {
		@include btn-style(none, $theme-color-base-400, $theme-color-base-500, $theme-color-neutral-400, $theme-color-neutral-500);
		position: absolute;
		right: 3px;
		top: 3px;
	}

	&--count {
		font-size: $font-size-tiny;
		margin: -8px 0 0 4px;
	}
}

.pageawake-char {
	padding: 2px 0;

	// &.nomatch {
	// 	opacity: 0.8;
	// }

	&--name {
		@include transition(color 1s);
	}

	&--note i {
		@include transition(opacity 0.3s);
	}

	&--note:not(.hasnote) i {
		opacity: 0;
	}

	&--badge:hover &--note i {
		opacity: 1;
	}

	&--badge:hover &--note:not(.hasnote) i {
		opacity: 0.6;
	}

	&--badge:hover &--note:hover:not(.hasnote) i {
		opacity: 1;
	}

	&--status {
		color: $theme-pageawake-char-status;
		font-style: italic;
	}
}
