@import '~scss/variables';
@import '~scss/mixins';

.pagetickets {
	padding: 16px 14px;

	&--tool-btn {
		position: relative;
	}
}

.pagetickets-ticket {
	padding: 2px 0;
}

.pagetickets-ticket, .pagetickets-activity {
	&--copyid i {
		transition: opacity 0.3s;
		opacity: 0;
	}
}


.pagetickets-ticket {
	&--badge .badge--select:hover &--copyid i {
		opacity: 0.6;
	}

	&--badge .badge--select:hover &--copyid:hover i {
		opacity: 1;
	}
}

.pagetickets-closed {
	&--head {
		padding: 0 0 8px;
		font-size: $font-size-small;
	}
}
