@import '~scss/variables';
@import '~scss/mixins';

.pagetickets {
	padding: 16px 14px;

	&--name {
		color: $color-contrast;
		font-size: $font-size;
	}

	&--name, &--email {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&--tool-btn {
		position: relative;
	}
}


.pagetickets-ticket {
	padding: 2px 0;

	&--icon.accepted {
		@include btn-style($color-action, $color-action, $color-action, $black, $black);
	}

	&--icon.rejected, &--icon.failed {
		@include btn-style($color-danger, $color-danger, $color-danger, $black, $black);
	}

	&--badge.unassigned {
		background: darken($color-base, 6%);

		&:not(:disabled) {
			&:hover, &:focus, &:active {
				background: darken($color-base, 9%);
			}
		}
	}
}

.pagetickets-ticket, .pagetickets-activity {
	&--copyid i {
		transition: opacity 0.3s;
		opacity: 0;
	}

	&--badge .badge--select:hover &--copyid i {
		opacity: 0.6;
	}

	&--badge .badge--select:hover &--copyid:hover i {
		opacity: 1;
	}
}

.pagetickets-closed {
	&--head {
		padding: 0 0 8px;
		font-size: $font-size-small;
	}

	&--nomail {
		font-style: italic;
	}
}
