@import '~scss/variables';
@import '~scss/mixins';

.pagetickets {
	padding: 16px 14px;

	&--name {
		color: $theme-content-strong-fg;
		font-size: $font-size;
	}

	&--name, &--email {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&--tool-btn {
		position: relative;
	}
}


.pagetickets-ticket {
	padding: 2px 0;

	&--icon.accepted {
		@include btn-style($theme-status-success-bg, $theme-status-success-bg, $theme-status-success-bg, $theme-control-danger-fg, $theme-control-danger-fg);
	}

	&--icon.rejected, &--icon.failed {
		@include btn-style($theme-status-danger-bg, $theme-status-danger-bg, $theme-status-danger-bg, $theme-control-danger-fg, $theme-control-danger-fg);
	}

	&--badge.unassigned {
		background: $theme-badge-dark-bg;

		&:not(:disabled) {
			&:hover, &:focus, &:active {
				background: $theme-badge-dark-bg-hover;
			}
		}
	}
}

.pagetickets-ticket, .pagetickets-activity {
	&--copyid i {
		transition: opacity 0.3s;
		opacity: 0;
	}

	&--badge .badge--select:hover &--copyid i {
		opacity: 0.6;
	}

	&--badge .badge--select:hover &--copyid:hover i {
		opacity: 1;
	}
}

.pagetickets-closed {
	&--head {
		padding: 0 0 8px;
		font-size: $font-size-small;
	}

	&--nomail {
		font-style: italic;
	}
}
