@import '~scss/variables';

// .routereleases {}

// .routereleases-releasebadge {}

.routereleases-release {
	&--template {
		display: block;
		height: 480px;
		resize: vertical;
		font-size: $font-size-small;
		font-family: $font-code;
		white-space: pre;
	}
}
