@import '~scss/variables';

.dialoglogattachment {
	width: 80%;
	max-height: 80%;
	max-width: 1280px;

	.dialog--content {
		padding: 16px;
	}

	&--fullname {
		font-family: $font-text;
		color: $color3;
		font-size: $font-size-large;
		line-height: 24px;
	}

	&--puppeteer {
		font-size: $font-size-small;
		line-height: 20px;
	}

	&--interval {
		font-size: $font-size-small;
		line-height: 20px;
	}

	&--eventscont {
		background: $color1;
		border-radius: 4px;
		padding: 4px 4px;
	}

	&--events {
		max-height: calc(80vh - 53px /* header */ - 32px /* padding */ - 64px - 12px /* avatar info + padding */ - 8px /* container */);
	}

	&--eventlist {
		padding: 8px 16px 8px 0px;
	}

	.simplebar-scrollbar::before {
		background-color: $color1-lightest;
	}


}
