@import '~scss/variables';


.pagecharselect {

	padding: 16px 14px;

	&--add {
		padding: 16px 0;

		> .btn {
			background: none;
			width: 100%;
			border: dashed 2px $color-muted;

			&:hover, &:focus {
				color: $color-muted-lighter;
				background: $color-base-light;
			}

			> .fa {
				 line-height: 24px;
			}
		}
	}

	&--add-tip.popuptip {
		position: absolute;
	}
}

.pagecharselect-char {
	padding: 3px 0;

	&.suspended .pagecharselect-char--title {
		color: $color-danger;
	}
}

.pagecharselect-puppet {
	padding: 3px 0;

	.suspended {
		color: $color-danger;
	}
}
