@import '~scss/variables';


.pagecharselect {

	padding: 16px 14px;

	&--add {
		padding: 16px 0;
	}

	&--add-tip.popuptip {
		position: absolute;
	}
}

.pagecharselect-char {
	padding: 3px 0;

	&.suspended .pagecharselect-char--title {
		color: $theme-color-danger-300;
	}
}

.pagecharselect-puppet {
	padding: 3px 0;

	.suspended {
		color: $theme-color-danger-300;
	}
}
