@import '~scss/variables';

// .routenodes {}


.routenodes-nodebadge {

	&--title {
		line-height: 26px;
		font-size: $font-size;
		color: $theme-content-strong-fg;
	}

	&--date {
		color: $theme-content-default-fg;
		line-height: 20px;
		font-size: $font-size-small;
	}

	&--state {
		line-height: 20px;
	}
}

.routenodes-nodebadgecontent {
	&--tools {
		display: flex;
		flex-direction: row;
		column-gap: 6px;
	}
}
