@import '~scss/variables';

.listemailusers {
	&--deleted > code {
		color: $theme-color-neutral-300;
	}
	&--banned > code {
		color: $theme-log-error-fg;
	}
	&--notverified {
		color: $theme-log-error-fg;
	}
}
