@import '~scss/variables';

.pageeditroom {
	padding: 16px;
	margin: 0;

	&--image {
		> svg {
			background: $theme-color-base-lighter;
			color: $theme-color-base;
		}
	}

	&--imagebtn {
		> .btn + .btn {
			margin-top: 8px;
		}
	}
}
