@import '~scss/variables';

.dialogaboutchar {
	max-width: 480px;

	&--fullname {
		font-family: $font-text;
		color: $color3;
		font-size: $font-size-large;
		line-height: 24px;
	}

	&--genderspecies {
		font-size: $font-size-small;
		line-height: 20px;
	}

	&--status {
		font-size: $font-size-small;
		line-height: 20px;
	}

	&--lastawake, &--puppeteer {
		font-size: $font-size-small;
	}
}
