@import '~scss/variables';

.containerstates {
	&--created, &--exited, &--dead {
		color: $theme-color-danger;
	}
	&--running {
		color: $theme-color-action;
	}
	&--paused {
		color: $theme-color-muted;
	}
	&--restarting, &--removing {
		color: $theme-color-accent;
	}
}
