@import '~scss/variables';

.containerstates {
	&--created, &--exited, &--dead {
		color: $theme-color-danger-300;
	}
	&--running {
		color: $theme-color-action-300;
	}
	&--paused {
		color: $theme-color-neutral-300;
	}
	&--restarting, &--removing {
		color: $theme-color-accent-300;
	}
}
