@import '~scss/variables';

.projectstates {
	&--online {
		color: $theme-color-action-300;
	}
	&--booting, &--restarting, &--resyncing, &--stopping, &--shuttingdown {
		color: $theme-color-accent-300;
	}
	&--offline, &--undefined {
		color: $theme-color-danger-300;
	}
	&--stopped {
		color: $theme-color-neutral-300;
	}
}
