@import '~scss/variables';

.projectstates {
	&--online {
		color: $color-action;
	}
	&--booting, &--restarting, &--resyncing, &--stopping, &--shuttingdown {
		color: $color-accent;
	}
	&--offline, &--undefined {
		color: $color-danger;
	}
	&--stopped {
		color: $color-muted;
	}
}
