@import '~scss/variables';
@import '~scss/hubvariables';

.taskrunstates {
	&-- {
		// &none, &queued {
		// 	color: $color-muted-darker !important;
		// }
		&running:not(.bg) {
			color: $color-action !important;
		}
		&success:not(.bg) {
			color: $color-success !important;
		}
		&warning:not(.bg) {
			color: $color-accent !important;
		}
		&error:not(.bg) {
			color: $color-danger !important;
		}

		// &none, &queued {
		// 	background: $color-muted-darker !important;
		// }
		&running.bg {
			background: $color-action !important;
		}
		&success.bg {
			background: $color-success !important;
		}
		&warning.bg {
			background: $color-accent !important;
		}
		&error.bg {
			background: $color-danger !important;
		}
	}
}
