@import '~scss/variables';

.taskrunstates {
	&-- {
		// &none, &queued {
		// 	color: $theme-content-subtle-fg !important;
		// }
		&running:not(.bg) {
			color: $theme-status-active-fg !important;
		}
		&success:not(.bg) {
			color: $theme-status-success-fg !important;
		}
		&warning:not(.bg) {
			color: $theme-status-warning-fg !important;
		}
		&error:not(.bg) {
			color: $theme-status-danger-fg !important;
		}

		// &none, &queued {
		// 	background: $theme-content-subtle-fg !important;
		// }
		&running.bg {
			background: $theme-status-active-bg !important;
		}
		&success.bg {
			background: $theme-status-success-bg !important;
		}
		&warning.bg {
			background: $theme-status-warning-bg !important;
		}
		&error.bg {
			background: $theme-status-danger-bg !important;
		}
	}
}
