@import '~scss/variables';
@import '~scss/mixins';

.helpformat {
	p {
		margin: 0;
		@include log-pad();
	}
	&--experiment {
		color: $color5;
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
		top: -0.5em;
	}
	&--disclaimer {
		font-size: $font-size-small;
		color: $color5;
	}
}
