@import '~scss/variables';


.overseerrealmsettings-topsection {

	&--version {
		font-size: $font-size-small;
		color: $color4;
	}

}


.overseerrealmsettings-containers {
	&--listitem {
		padding-top: 6px;
	}
}

.overseerrealmsettings-containerbadge {

	&--timestamp {
		padding-right: 6px;
	}

	&--stateicon {
		font-size: $font-size-tiny;
	}

}

.overseercontainersettings-containerbadgecontent {
	&--error.badge--error {
		white-space: pre;
	}
}
