@import '~scss/variables';

// .routerealmsettings {}


.routerealmsettings-realm {

	&--key {
    	font-size: $font-size-large;
		line-height: 24px;
		color: $color3;
	}

	&--footertools {
		> * {
			display: inline-block;
		}
	}
}
