<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="description" content="<%= APP_DESCRIPTION %>">
	<link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/fonts/fonts.css" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="mask-icon" type="image/svg+xml" href="/sitemaskicon.svg" color="#c1a657">
	<link rel="manifest" href="/site.webmanifest">
	<script type="text/javascript">
		window.appProps = {
			apiHostPath: <%= JSON.stringify(API_HOST_PATH) %>,
			apiWebresourcePath: <%= JSON.stringify(API_WEBRESOURCE_PATH) %>,
		};
	</script>
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
</body>
</html>
