@import '~scss/variables';

.scripteditor {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;

	&--header {
		flex: 0 0 auto;
		background-color: $color1-lighter;
		position: relative;
	}

	&--headercontent {
		height: 64px;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&--headertitle {
		flex: 1 1 0;
		display: block;
		margin-left: 48px;
		position: relative;
	}

	&--headerbuttons {
		flex: 0 0 auto;
		margin-right: 48px;
	}

	&--save {
		width: 128px;
	}

	&--headertools {
		position: absolute;
		z-index: 400;
		top: 26px;
		right: 40px;
	}

	&--main {
		flex: 1 1 0px;
		position: relative;
		overflow: hidden;
	}

	// Theme
	.cm-editor {
		width: 100%;
		height: 100%;
		background: $color1;
	}
	.cm-scroller {
		overflow: auto;
		scrollbar-color: $color1-lightest transparent;
		&::-webkit-scrollbar {
			width: 12px;
			height: 12px;
			background-color: transparent;
		}
		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}
		&::-webkit-scrollbar-track {
			background: $color1;
		}
		&::-webkit-scrollbar-thumb {
			background: $color1-lightest;
			border: 2px solid $color1;
			border-radius: 6px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background: lighten($color1, 18%);
		}
	}
	.cm-gutters {
		background-color: $color1;
		border: none;
	}

	// Style
	&--keyword {
		color: $color4;
	}
	&--name {
		color: $color4;
	}
	&--variable {
		color: $color4;
	}
	&--constant {
		color: $color4;
	}
	&--separator {
		color: $color4;
	}
	&--type {
		color: $color4;
	}
	&--operator {
		color: $color4;
	}
	&--comment {
		color: $color4;
	}
	&--link {
		color: $color4;
	}
	&--heading {
		color: $color4;
	}
	&--bool {
		color: $color4;
	}
	&--string {
		color: $color4;
	}
	&--invalid {
		color: $color4;
	}
}

@media screen and (max-width: 900px) {

	.scripteditor {
		// &--header {
		// 	position: fixed;
		// 	width: 100%;
		// 	z-index: 1;
		// }

		// &--main {
		// 	margin-top: 64px;
		// }

		&--headertools {
			top: 16px;
			right: 16px;
		}
	}
}

@media screen and (max-width: 720px) {
	.scripteditor-common--container {
		padding: 24px 0;
	}
}
