@import '~scss/variables';
@import '~scss/mixins';

.dialogselecttags {
	padding: 16px;
	margin: 0;

	&--footer {
		position: relative;
	}

	&--counter {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.dialogselecttags-section {
	&--title {
		font-size: $font-size-large;
	}
}

.dialogselecttags-tag {
	&--label {
		cursor: pointer;
	}

	&--key {
		font-size: $font-size-small;
	}

	&--type- {
		&genre {
			color: $theme-tag-title-fg;
			&:hover {
				color: $theme-tag-title-fg-hover;
			}
		}

		&theme {
			color: $theme-tag-default-fg;
			&:hover {
				color: $theme-tag-default-fg-hover;
			}
		}

		&warn {
			color: $theme-tag-dislike-fg;
			&:hover {
				color: $theme-tag-dislike-fg-hover;
			}
		}
	}
}
