@import '~scss/variables';
@import '~scss/mixins';

// Toaster colors
$toaster-success-background: #{'rgba(39,67,42,90%)'};
$toaster-info-background: #{'rgba(48,55,83,90%)'};
$toaster-warn-background: #{'rgba(73,40,28,90%)'};
$toaster-success-background-hover: #27432a;
$toaster-warn-background-hover: #49281c;
$toaster-close-background-hover: #{'rgba(255,255,255,6%)'};
// Toaster theme vars
$theme-toaster-success-background: var(--mu-toaster-success-background, #{$toaster-success-background});
$theme-toaster-info-background: var(--mu-toaster-info-background, #{$toaster-info-background});
$theme-toaster-warn-background: var(--mu-toaster-warn-background, #{$toaster-warn-background});
$theme-toaster-success-background-hover: var(--mu-toaster-success-background-hover, #{$toaster-success-background-hover});
$theme-toaster-warn-background-hover: var(--mu-toaster-warn-background-hover, #{$toaster-warn-background-hover});
$theme-toaster-close-background-hover: var(--mu-toaster-close-background-hover, #{$toaster-close-background-hover});

.toaster {
	position: fixed;
	z-index: 800;
	bottom: 4px;
	right: 14px;
	width: 360px;
}

.toaster-toast {
	padding-bottom: 10px;

	.toaster-toast--cont {
		box-shadow: 2px 2px 8px 0px #000;
		padding: 8px 16px;
		position: relative;

		transition: background-color 0.3s;


		&.info {
			background: $theme-toaster-info-background;
			&:hover {
				background: $theme-color-base-500;
			}
		}

		&.success {
			background: $theme-toaster-success-background;
			&:hover {
				background: $theme-toaster-success-background-hover;
			}
		}

		&.warn {
			background: $theme-toaster-warn-background;
			&:hover {
				background: $theme-toaster-warn-background-hover;
			}
		}

		&.clickable {
			cursor: pointer;
		}
	}

	&--head {
		margin: 8px 0;
		h2 {
			margin: 0;
		}
	}

	&--content {
		margin: 8px 0;
	}

	&--close {
		position: absolute;
		top: 4px;
		right: 4px;
		@include btn-style(none, $theme-toaster-close-background-hover, $theme-toaster-close-background-hover, $theme-color-neutral-400, $theme-color-neutral-500);
	}
}

@media screen and (max-width: 720px) {

	.toaster {
		left: 10px;
		right: 10px;
		width: initial;
	}
}
