@import '~scss/variables';
@import '~scss/mixins';

.toaster {
	position: fixed;
	z-index: 800;
	bottom: 4px;
	right: 14px;
	width: 360px;
}

.toaster-toast {
	padding-bottom: 10px;

	.toaster-toast--cont {
		box-shadow: 2px 2px 8px 0px $theme-toaster-shadow;
		padding: 8px 16px;
		position: relative;

		transition: background-color 0.3s;


		&.info {
			background: $theme-toaster-info-background;
			&:hover {
				background: $theme-surface-500-bg;
			}
		}

		&.success {
			background: $theme-toaster-success-background;
			&:hover {
				background: $theme-toaster-success-background-hover;
			}
		}

		&.warn {
			background: $theme-toaster-warn-background;
			&:hover {
				background: $theme-toaster-warn-background-hover;
			}
		}

		&.clickable {
			cursor: pointer;
		}
	}

	&--head {
		margin: 8px 0;
		h2 {
			margin: 0;
		}
	}

	&--content {
		margin: 8px 0;
	}

	&--close {
		position: absolute;
		top: 4px;
		right: 4px;
		@include btn-style(none, $theme-toaster-close-background-hover, $theme-toaster-close-background-hover, $theme-control-default-fg-hover, $theme-button-light-fg-hover);
	}
}

@media screen and (max-width: 720px) {

	.toaster {
		left: 10px;
		right: 10px;
		width: initial;
	}
}
